[2017-04-04 15:36] bkeese commented on #1774
Here is a player POC that is written by Jason Ronallo, and is more up to date with current IIIF-AV working group work: http://ronallo.com/demos/iiifav-test/

[2017-04-04 19:36] val99erie commented on #1785
I have a few thoughts & questions:

* It looks like the encoding job in Avalon polls for the status every 10 seconds.  Is that how we intend to do it in hydra-derivtives too: just keep polling until it's done?  10 seconds seems like a good default, but the poll time should probably be configurable (within reason - I assume if you poll too often, you'll be DOS-attacking your own process).

* Is is

[2017-04-04 19:42] jlhardes commented on #1774
Thanks @mcwhitaker - I didn't see that in my first review.

@bkeese - Is there a manifest for Jason Ronallo's example? If not, then we don't have any manifest examples yet except for the lunchroom manners, right?

[2017-04-04 19:43] csyversen commented on #1785
this is out of scope at the moment, but it would be awesome to eventually write up hydra_derivatives to support rails 5's actioncable and do away with polling all together. This seems like a great use case for it.

( @val99erie i'm just writing down my thoughts right now, i don't expect us to move on this right now)

[2017-04-04 19:51] adamjarling commented on #1774
If you follow the link below to Universal Viewer examples, in the dropdown menu within the Manifests section, there are a few video and audio manifests available.  Are these manifest files in the proper IIIF AV format Avalon will produce?

http://universalviewer.io/examples/

**Wellcome Library Manifest example:**
http://wellcomelibrary.org/iiif/b16659090/manifest

[2017-04-04 19:55] bkeese commented on #1774
Unfortunately, we're a bit ahead of the curve here. The format hasn't been completely settled yet.

[2017-04-04 19:58] davidschober commented on #1774
Just to recenter everyone here. The goal is to have a working proof of concept. The assumption is the the spec and how we work with Avalon-style metadata will evolve. Let's use one that's close to an avalon piece of content (e.g. a movie like thing with sections). @bkeese , do you have the lunchroom manners one?

[2017-04-04 19:59] bkeese commented on #1774
http://dlib.indiana.edu/iiif_av/lunchroom_manners/lunchroom_manners.json

[2017-04-04 20:01] jlhardes commented on #1774
Right, I was just looking for something that @jenyoung and I can work from that actually functions in a player, not something that follows the IIIF-AV spec (since it doesn't really exist). So we can look at both the UV examples and the IU lunchroom manners example (and Jason Ronallo's example if there is a manifest available) and figure things out from there.

[2017-04-04 20:01] davidschober commented on #1785
Chris, can you peel this off into a backlog issue for later?

[2017-04-04 20:03] davidschober commented on #1774
Perfect! Thanks everyone.

[2017-04-04 20:05] csyversen opened #1803 "rewrite hydra derivatives to work with actioncable"
it would be awesome to eventually write up hydra_derivatives to support rails 5's actioncable and do away with polling all together. This seems like a great use case for it.

[2017-04-04 20:26] mcwhitaker commented on #1704
@lealeelu I suppose what you are doing is then related to ticket #1751 ?

[2017-04-04 20:38] lealeelu commented on #1704
@mcwhitaker Yup, looks like it.
I know this is probably a silly approach, but I want to see if it works.

[2017-04-05 16:34] little9 commented on #1774
In the example there are is high, medium, and low quality. I'm assuming that it's up to the implementation to decide, which is the default. If so, which one would we want as the default?

[2017-04-05 16:53] davidschober commented on #1774
All, I added @mcwhitaker 's lunchroom manner's example to the top of the issue.

@adamjarling and @little9 can we move this to in progress if it's being worked on>

[2017-04-05 17:10] mcwhitaker commented on #1774
@little9 For avalon, we use medium as the default for both audio and video.

[2017-04-05 17:37] little9 commented on #1774
If we ignore the structural portion for now, this would be the `<video>` tag for the lunchroom manners example if the medium quality is the default. This could be used a test case for the code.
[code]

[2017-04-05 17:52] bkeese commented on #1774
I’m not sure about the id on the video tag, but looks good to me.

From: Jamie Little [mailto:notifications@github.com]
Sent: Wednesday, April 5, 2017 1:37 PM
To: avalonmediasystem/avalon <avalon@noreply.github.com>
Cc: Keese, Brian W <bkeese@indiana.edu>; Mention <mention@noreply.github.com>
Subject: Re: [avalonmediasystem/avalon] POC Player can show a video via POC IIIF-AV endpoint (#1774)

If w

[2017-04-05 19:03] val99erie commented on #1785
Question:

I added some code to handle the case where active_encode reports that the encoding has failed, but there is another edge case we should think about:  active_encode has a `:cancelled` state.

How should we handle the case where active_encode reports that the job has been cancelled?
Some options:

* Detect the `:cancelled` state and raise an exception with a message that it was cancelled

[2017-04-05 19:25] bkeese commented on #1785
I second your vote.

[2017-04-05 20:33] davidschober opened #1804 "Implement hyrax-style batch ingestion for Avalon work content"
## Description

As we move Avalon into Hyrax we will have develop an analogous approach to batch ingestion of Avalon work types into a Hyrax- based application. The goal is to have something that works similar to current Avalon batch ingest via spreadsheet with a work and associated metadata created per line.

## Community stuff

I believe  ?Ohio State? and possibly the AIC has done some work on s

[2017-04-05 20:37] davidschober opened #1805 "Rough concepts/designs for Avalon in Hyrax completed"
## Description
As we move Avalon into Hyrax we will need to deal with several design issues particularly from the end user side. From an ingestion / workflow side we should attempt to stick to hyrax patterns as much as possible. From a front-end our goal is to show video, audio, current metadata  and a player similar to our current player. One complexity is the "markers and and playlists" as this

[2017-04-05 20:38] davidschober commented on #1805
Note, this can/should be broken out necessary.

[2017-04-05 20:40] little9 commented on #1774
This is a basic HTML5/JS implementation using the lunchroom manners example (the actual code doesn't start until line 176): https://jsfiddle.net/jamielittle/nLymw8r9/2/

For the subtitles to load, this will need to be on the same server.

Doing it this way would let us use mediaelement or video.js or some other player.

[2017-04-05 20:46] davidschober opened #1806 "Display subtitle via IIIF manifest-driven player"
This issue will build out our player chosen in #1774 to include captions

## Done looks like

- [ ] Captions show on IIIF-AV driven player (built to current spec)
- [ ] Player can load captions from Avalon work type

[2017-04-05 20:54] davidschober opened #1807 "create UI for clips in IIIF-AV driven player"
## Description

As we move toward a complete Avalon in hyrax solution we will want to have clips within a hyrax context. Note this is dependent upon a plan for recreating the "playlist" functionality in hyrax possibly leveraging user collections?

This is informed by work in #1811.

## Done looks like

- A user can clip an arbitrary section of a song or movie within hyrax (This will likely need mo

[2017-04-05 20:58] mcwhitaker commented on #1785
That is 3 votes now.

[2017-04-05 20:59] davidschober commented on #1803
@csyversen you want this in the next sprint correct?

[2017-04-05 21:01] davidschober commented on #1785
fourth if you need it. I believe that's quorum.

[2017-04-05 21:12] davidschober opened #1808 "define metadata  needs for Avalon in hyrax"
## Description

In order to create a work type (or verify that a Generic Work type will fit our needs) we need to have a list of descriptive metadata we need for Avalon in Hyrax. This can build off the the work done in mods--> rdf working group, etc.

## Done looks like

expands on #1772.
- There is a metadata comparison document
- Recommended changes to Hyrax Generic Work type and/or additional m

[2017-04-05 21:14] davidschober opened #1809 "Discuss use of Admin Sets/ Avalon Collections"
## Description

As we move into a hyrax environment, several core concepts are changing. The team needs to do a deep dive and document how we plan to use Admin sets and Workflows. Display sets are currently in flux, but we should gain a basic understanding of how those might work.

* [Current High-level docs -- from LDCX](https://docs.google.com/document/d/1oCVnyzamH1sD3mSaqPooknfRTDYKYAsAdEx61hBm

[2017-04-05 21:15] davidschober opened #1810 "Discuss and initial design of workflow(s)"
## Description

As we move into Hyrax we will need to revisit our current workflow  and re implement it using hyrax's workflow engine. We should whiteboard out roles and what roles can do in our current system, and develop a first pass at a Sippity style workflow. This is a good time to discuss whether we want to put out a couple of "example" workflows as no we will have the ability to have multip

[2017-04-05 21:30] davidschober commented on #1808
@jlhardes and @jenyoung everyone seems to be moving pretty quickly. I wonder if we can go ahead and document what we think we'd need to completely describe avalon works .

[2017-04-05 21:33] davidschober commented on #1775
so we might be done.

[2017-04-05 21:40] val99erie commented on #1785
Ok, I'll work on that code tomorrow.  It should be reasonably easy to change the code in the future if we change our minds about what the behavior should be.

[2017-04-05 21:41] davidschober opened #1811 "Figure out how bookmarks will work in a hyrax environment"
As we move toward a IIIF/ Hyrax world we have to discuss how / what bookmarks are. Do they still exist in hyrax? Are we using "collections"? If we still need bookmarks should they be represented as some kind of personal IIIF manifest so they can be used in other contexts (or with more than just video/audio).

There's lots packed in there. I think the team needs to discuss.

## Done looks like

- [

[2017-04-05 21:53] adamjarling commented on #1774
Quick update, I'll be out tomorrow at NU orientation, however I ran with @little9 's lead from chatting this morning and kinda arrived at a similar spot this afternoon.  Locally I have the Lunchroom Manners manifest feeding a Mediaelement.js player instance.

At this point it might not worth demo-ing in Universal Viewer as UV (for video) uses a manifest version which @bkeese mentioned is outdated.

[2017-04-05 21:56] jenyoung commented on #1808
@jlhardes and i have already planned to meet after standup on friday. @davidschober

[2017-04-06 14:12] jlhardes commented on #1526
Looks like there's a pull request for this so that review is needed but does this also need a metadata person review?

[2017-04-06 14:16] davidschober commented on #1773
We need to know a little more about how the player will be implemented.

julie: There will be technical metadata that needs to be incorporated.

val: it will be some time of media work type.

[2017-04-06 14:26] davidschober commented on #1803
This would allow us to get rid of polling . Per Chris S. It's cool, but not necessary.

[2017-04-06 14:34] davidschober commented on #1777
Content does not need to be mpeg-dash.

Jamie: All we need is a URL, as long as the player can play it.

[2017-04-06 14:41] davidschober commented on #1805
@adamjarling and @joncameron does this look right sized? I'm thinking of sketches for a vanilla "Avalon in Hyrax". Hopefully we can work with Matt Fitzwater?

[2017-04-06 16:36] little9 commented on #1774
This commit has got a plain HTML5/JS player that works with a IIIF-AV manifest:
https://github.com/avalonmediasystem/hyrax-demo/commit/c82188697803934855ca557772c633bbaf471abf

Tomorrow or next week I'll with @adamjarling to add Mediaelement.js to it

[2017-04-06 19:01] little9 commented on #1772
After creating a basic implementation, I've noticed some things about the IIIF-AV manifest that I think
it would helpful for us to be specific about.

For example, the `content` element in IIIF-AV is an array, which could have multiple sub-elements. In the lunchroom manners it has one sub-element, with the `AnnotationPage` type. It would be super helpful to know that Avalon will only generate one

[2017-04-06 19:36] bkeese commented on #1772
I think we'll eventually be able to constrain these sorts of things. But at this point we can't be certain what the structure will ultimately be. About the qualities, I think we can safely say there will be AT MOST 3 qualities. Audio items only have 2 by default.

[2017-04-07 14:16] davidschober commented on #1757
when @cjcolvar gets back @val99erie and POs will verify that we're done with this, and break out any final issues.

[2017-04-07 14:17] #1774 closed

[2017-04-07 15:06] davidschober commented on #1784
@little9 it looks like this got worked on. @mcwhitaker should we pull this in to the sprint as work went faster on this part.

[2017-04-07 15:14] jenyoung commented on #1772
For `AnnotationPage` while Avalon doesn't have functionality to play multiple items simultaneously at this time, there is a use case for playing a video and an audio at the same time. We don't want to limit ourselves.

Default items:
For the item array under `content`, we don't want to limit ourselves at the moment. An use case is playing audio and video at the same time.
For the item array under

[2017-04-07 15:52] davidschober commented on #1775
I think this might take some upstream changes to account for video canvases.

[2017-04-07 17:22] #1605 closed

[2017-04-07 17:41] joncameron commented on #1726
We will probably need to work on Shibboleth, both for authentication and authorization. Checking external group membership at time of login.

[2017-04-07 17:46] joncameron commented on #1722
This could be complicated if we use this. Investigation into just using Shibboleth has been suggested as being easier.

[2017-04-07 20:50] jlhardes commented on #1772
See https://gist.github.com/jlhardes/1e3adada7410591f46b170e65dce20af for example and comments for descriptive metadata recommendation.

[2017-04-07 20:55] jlhardes commented on #1772
The checklist item for investigating sufia 7.3 works type doesn't seem to be helpful here to figure out what we need in the manifest file for an avalon-style video. Let us know if we're not understanding something that we still need to define.

[2017-04-10 13:08] adamjarling commented on #1754
@davidschober @joncameron Any thoughts on where should "notes written in wiki -- on different players." should live?

[2017-04-10 13:09] mcwhitaker commented on #1784
@davidschober Yes, it makes sense to move this to the current sprint.

[2017-04-10 13:17] adamjarling commented on #1754
@little9 Perhaps you have thoughts here as well, but seems the current best approach may be to run with MediaElement.js for the following reasons:

* Custom work has already been done extending Avalon 6.x's MediaElement.js player.
* If we're working towards Universal Viewer as an eventual one-stop solution for images/video/audio in Avarax, Universal Viewer uses MediaElement.js (although an older v

[2017-04-10 13:56] adamjarling commented on #1756
- #1774 Proof of Concept Player
- #1784 Proof of Concept Player in Hyrax
- Universal Viewer currently uses an IIIF A/V manifest file format which is not as current as the Lunchroom Manners manifest format
- #1754 Case for running with MediaElement.js as the default player initially.

[2017-04-10 14:13] little9 commented on #1754
@adamjarling I think that's probably the best approach at least for right now.

It looks like the mediaelement_rails gem (the non-Avalon fork) is also behind the current version. So I don't necessarily see any benefits in using that versus the Avalon fork.

So if we wanted to use MediaElement there are several options:

* Use the gemified Avalon fork of MediaElement directly
* Use an up to date ve

[2017-04-10 17:17] cjcolvar commented on #1772
Looks good to me. :+1:

[2017-04-11 14:54] davidschober commented on #1754
@adamjarling and @little9 let me know if I missed something.

* base our POC on media element with an eye toward UV
* ask hyrax community on preferred method for including Javascript libraries like Media Element
* Keep an eye toward UV, open discussion Ed Silverton (digerati) @adamjarling

[2017-04-11 14:55] #1754 closed

[2017-04-12 14:15] carrickr commented on #1773
I think the 5 on this might actually be a bit low as I work on it in Hyrax.  The process itself is not complex, it's more like going to the DMV and just needing to fill out a billion forms.  None of them are two hard, but you're still going to be there all day.

Ideally what we want to do is something along the lines of using the generic work type generator and templates currently in Hyrax and the

[2017-04-12 14:17] carrickr commented on #1809
We can probably do this with a subset of the team that knows Hyrax initially to determine how we'll do it and then present notes/a proposed pattern back to the larger team?

[2017-04-12 14:37] bkeese opened #1816 "IIIF-AV: Decide when to generate manifest"
Options include but are not limited to:
* upon request
* upon update
* upon publish

Things to consider are:
* eventually manifest might be required by player
* player needs to be functional before publish
* generation of manifest might be non-trivial
* might be different answers for metadata vs structure

[2017-04-12 14:38] bkeese commented on #1755
#1816 Decide when manifest should be generated

[2017-04-12 14:41] bkeese opened #1817 "IIIF-AV: Map structural and technical metadata to manifest"
Refers to metadata story: #1772 #1808
this relates to #1775 (iiif endpoint)

* This can be static. It's a mapping of metadata to the 3.0 presentation spec in it's current state
* The spec will change.
* This mapping full work type from avalon hyrax work type.
Map all possibly desired manifest fields to avalon metadata sources.

[2017-04-12 14:43] bkeese opened #1818 "IIIF-AV: Decide where code for manifest generation should live"
Based on #1816, decide how to incorporate manifest-generating code

[2017-04-12 14:48] bkeese opened #1819 "IIIF-AV: Investigate routes for end point"
Investigate best way to add iiif endpoint to Hyrax.
It might actually already be there.

[2017-04-12 15:07] mcwhitaker commented on #1773
@carrickr I would be very interested in the swarm. And I don't have a problem with breaking the story.

[2017-04-12 15:11] mcwhitaker commented on #1809
@carrickr What you propose is more or less how some of us are thinking we may work with Epics. Tomorrow's conversation on process might get us to a consensus on how to go about Epics.

[2017-04-12 15:12] davidschober commented on #1809
@carrickr that makes sense to me. (Per @mcwhitaker let's bring this up tomorrow too).

[2017-04-12 15:25] little9 commented on #1756
I'm just going to dump these here @davidschober & @adamjarling . Feel free to move them around or ignore.  These are based on the lunchroom manners v2 json.

* The player should use the duration specified in the manifest (i.e. if it's a 700 second video and the duration in the manifest says 660 the video should only play for 660 seconds). In HTML5 you can specify a range at the end of the src like

[2017-04-12 15:35] jlhardes commented on #1756
IU has an implementation for musical scores using IIIF that shows structure as a TOC tab on the left:

http://purl.dlib.indiana.edu/iudl/variations/score/ABW7406

Would something like that work for sharing structure info?

[2017-04-12 16:23] adamjarling commented on #1784
@little9 @joncameron Could someone grant me write access to the https://github.com/avalonmediasystem/hyrax-demo repository so I could push up a branch to have Jamie look at?

[2017-04-12 16:54] bkeese commented on #1784
@adamjarling I've added you.

[2017-04-12 17:09] little9 commented on #1756
Thanks @jlhardes ! I was imagining something treeish like that.

Do you think the width and height in the manifest is just for the actual video or for the entire user interface chrome, like the controls and other UI bits?

[2017-04-12 17:46] mcwhitaker commented on #1756
@little9 The width and height are for the actual video. Currently in Avalon, the controls are placed over the bottom part of the video, which is also the case in youtube, for instance.

In the lunchroom example, I think Brian and I got arbitrary numbers there. We should try to fix that so it is not confusing. I will try to correct those today.

[2017-04-12 18:05] adamjarling commented on #1784
Great, thanks.

[2017-04-12 18:31] #1720 closed

[2017-04-12 19:46] #1772 closed

[2017-04-12 19:58] #1755 closed

[2017-04-12 20:10] mcwhitaker commented on #1756
@little9 For the Table of Contents, I believe we will have to ensure that we get a UX expert involved to help us design it (we have someone at IU that helps us with this, @gfitzwat). We will probably need a UI story for the UX designer to investigate what the hyrax UI is capable of and making a decision on the design to use.

[2017-04-12 20:22] joncameron commented on #1819
Duplicate of #1775

[2017-04-12 20:22] #1819 closed

[2017-04-12 20:29] davidschober commented on #1818
@bkeese I think this is a dupe of #1775 .

Note:

Hyku's IIIF endpoint is here:
https://github.com/projecthydra-labs/hyku/blob/master/app/controllers/concerns/hyku/iiif_manifest.rb
which uses iiif-manifest to actually construct the manifest:
https://github.com/projecthydra-labs/iiif_manifest/
starting here in ManifestFactory:
https://github.com/projecthydra-labs/iiif_manifest/blob/master/lib/iiif_

[2017-04-12 20:31] davidschober commented on #1816
Note from #1775  We should use the existing pattern if possible.

Hyku's IIIF endpoint is here:
https://github.com/projecthydra-labs/hyku/blob/master/app/controllers/concerns/hyku/iiif_manifest.rb
which uses iiif-manifest to actually construct the manifest:
https://github.com/projecthydra-labs/iiif_manifest/
starting here in ManifestFactory:
https://github.com/projecthydra-labs/iiif_manifest/blob/

[2017-04-12 20:32] davidschober commented on #1816
This may be redundant

[2017-04-12 20:35] #1818 closed

[2017-04-12 21:33] Karthikeya212 opened #1820 "Pagination is not working in R5 after increasing number of items to view per page"
### Descriptive summary
Server: media.dlib.indiana.edu
Testing: Exploratory
Browser: Chrome(56.0.2924.87 (64-bit)), checked on Firefox(50.0.2) as well
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Pagination is not working in R5 after increasing the number of items to view per page and clicking on Browse button.

### Expected behavior

### Actual behavior

### Steps to reproduce the

[2017-04-13 01:35] cjcolvar commented on #1820
I think we may have a bug for this already somewhere in the backlog.  I'm aware of this and could give more details if necessary.

[2017-04-13 13:02] joncameron opened #1821 "Avalon Work Type in Hyrax - Model"
### Description

Method from #1773

Ideally what we want to do is something along the lines of using the generic work type generator and templates currently in Hyrax and then using Thor to inject on top of them. So this involves updating the model, show, and forms within in Hyrax and then dropping in spec tests as well. We can do our own generator and templates, but it isn't particularly DRY to do

[2017-04-13 13:04] joncameron opened #1822 "Avalon Work Type in Hyrax - Show"
### Method from #1773

Ideally what we want to do is something along the lines of using the generic work type generator and templates currently in Hyrax and then using Thor to inject on top of them. So this involves updating the model, show, and forms within in Hyrax and then dropping in spec tests as well. We can do our own generator and templates, but it isn't particularly DRY to do it that way.

[2017-04-13 13:11] #1526 closed

[2017-04-13 14:00] val99erie opened #1823 "Valerie OOO 4/26"

[2017-04-13 14:24] Karthikeya212 commented on #1820
@cjcolvar could you please share that ticket number here

[2017-04-13 14:32] davidschober opened #1824 "Investigate whether work type is needed for player"
* Investigate whether work type is needed
* Work with julie and jen to determine whether generic has enough tech and descriptive to drive player.
* Figure out what dumps when FITs runs

- [x] Make a list of technical metadata needed for IIIF AV player
- [x] Make a list of technical metadata possibly provided by FITS for AV
- [ ] Write up better documentation for running FITS that generates AV meta

[2017-04-13 14:39] joncameron commented on #1808
There's a conversation to have about descriptive metadata.
Question: What is it we want to show as far as technical metadata?

[2017-04-13 14:41] jenyoung commented on #1808
this will be part of the Avalon "gem"

[2017-04-13 14:42] jlhardes commented on #1808
Descriptive metadata questions: do we need to bring descriptive metadata into Hyrax as RDF properties to begin or is it better (and possible) to start with descriptive metadata as MODS XML files?

[2017-04-13 14:44] davidschober commented on #1816
abandoned.

[2017-04-13 14:44] #1816 closed

[2017-04-13 14:51] cjcolvar commented on #1803
As far as I understand actioncable it is meant for only browser javascript <-> rails server interactions so doesn't really apply to these ruby code (on server) <-> transcoding server interactions.  We could try using concurrent-ruby (which actioncable uses) instead.  This might   look like using the TimerTask and an observer to handle the waiting for active-encode to finish with an optional timeou

[2017-04-13 14:56] csyversen commented on #1803
yeah you're correct about actioncable. I was thinking that when the browser is displaying the status of an encoding job to a user that we could use actioncable there instead of polling (which is how it works now, i think)

[2017-04-13 15:31] cjcolvar commented on #1803
Got it.  That totally makes sense. :+1:

[2017-04-13 16:08] cjcolvar commented on #1808
I think it would be easiest to start off with RDF only if we could get away with that.

[2017-04-13 18:48] joncameron opened #1826 "Create Hyrax Plugin for Hydra Derivatives"
### Description
Making a plugin version of the code in #1827 so that Hyrax applications use ActiveEncode for audio and video derivative generation.

### Done
- A plugin is written that is minimally viable—it just needs to work, not have any extra features or conform to the hydra plugin spec.
- Enables ActiveEncode through Hydra derivatives
- Gives instructions on how to set it up with S3 and Elast

[2017-04-13 18:49] joncameron opened #1827 "PR into Hydra Derivatives"
### Description
Finalizing what code changes still need to be made in hydra-derivatives for our purposes.

### Done
- [x] Check test coverage
- [x] Write up documentation
- [x] Write up PR and submit
- [x] Respond to PR reviews and fix issues

[2017-04-13 20:47] joncameron opened #1828 "IU Production Issues (19)"

[2017-04-14 03:49] joncameron opened #1829 "Make Hyrax Plugin for Hydra Derivatives Work With FlipFlop"
### Description

The Hydra Plugin in #1826. Avalon-style derivatives should able to be turned on and off using as a hyrax flip-flop plugin. This would require an administrator to have something that could create derivatives for avalon-style derivatives (e.g. AWS, matterhorn, etc).

### Done looks like

The plugin can be enabled or disabled by flipping and flopping (state toggle in the application

[2017-04-14 14:41] #1757 closed

[2017-04-14 14:47] cjcolvar commented on #1785
#1827 seems to be close to a duplicate of this story.  Should we refine this story and close #1827 or close this one and copy over relevant pieces to #1827?

[2017-04-14 14:51] cjcolvar commented on #1803
@csyversen Maybe it would make sense to close this one and create a new one for any improvements to displaying the status of the encoding job within hyrax if any are needed.

[2017-04-14 14:52] #1694 closed

[2017-04-14 14:52] cjcolvar commented on #1757
Added stories #1827, #1826, #1829.

[2017-04-14 14:52] #1693 closed

[2017-04-14 14:52] cjcolvar commented on #1776
@davidschober Can we close this in favor of the stories written by #1757?

[2017-04-14 14:52] csyversen commented on #1803
@cjcolvar yeah that's a good idea. Closing this!

[2017-04-14 14:52] #1803 closed

[2017-04-14 15:03] little9 commented on #1806
This is done, and was demoed on April 14th.

[2017-04-14 15:04] #1806 closed

[2017-04-14 15:32] mcwhitaker commented on #1727
Per MBK, obsolete.

[2017-04-14 15:41] little9 commented on #1784
I think this is done based on the wording and what I showed in the demo

[2017-04-14 15:56] mcwhitaker commented on #1773
Depends on decision from #1824

[2017-04-14 16:00] bkeese opened #1830 "Rewrite quality selector mejs plugin"
So that users can select a quality level and it will work with the IIIF-AV manifest spec and the new mediaelement.

[2017-04-14 17:08] davidschober commented on #1776
Yup

Sent from my iPhone

[2017-04-14 17:47] mcwhitaker opened #1831 "As a QA Analyst, I need a collection of A/V content to be used for perfomance testing"
## Collection Details:
**Server**: media.dlib.indiana.edu
**Collection name**: Performance Test Collection
**Items to be used from collection**: performance_item

## Sections in that item:
1.	Lunchroom Manners (09:32) – includes Structure and Captions
2.	Popeye for president (00:30) – includes only Captions
3.	ElectricBeat_1 (00:05) – includes only Captions
4.	ElectricBeat_2 (00:05)
5.	ElectricBea

[2017-04-14 18:01] mcwhitaker opened #1832 "As a QA Analyst, I need performance parameter values set"
## So that
- We know what performance levels we are aiming at.
- We can verify if releases or specific pull requests have a negative impact on performance.
- We can determine if a performance test passes or fails based on expectations.

## Done looks like
- The performance parameters identified as part of [avalon-planning/#104](https://github.com/avalonmediasystem/avalon-planning/issues/104) have

[2017-04-14 18:03] mcwhitaker commented on #1832
Attaching here the Performance Parameters document from the other issue for quicker reference:

[Performance testing plan for Avalon.docx](https://github.com/avalonmediasystem/avalon/files/922663/Performance.testing.plan.for.Avalon.docx)

[2017-04-14 20:07] val99erie commented on #1785
Here's what we have left to do, as far as I know:
[ ] There are several TODOs in the code, such as configuring sleep time, handling timeouts, etc.
[ ] We need to figure out what happens once the encoding finishes successfully, do the FileSet and/or File record in fedora need to be updated with the URIs for the transcoded files?  Or is there any other metadata we need to update?
[ ] We need to docu

[2017-04-17 15:22] mcwhitaker commented on #1820
@cjcolvar I believe you were aware of a ticket that I had opened in the IU queue (https://bugs.dlib.indiana.edu/browse/VOV-5205)

[2017-04-17 15:32] cjcolvar opened #1834 "Replace fakeweb with webmock"
FakeWeb hasn't had a new version in 7 years and WebMock is up to date and supports expectations (a problem bkeese is running into on #1833).

[2017-04-17 20:23] cjcolvar commented on #1785
Maybe this isn't needed in Proof of Concept, but I think we also need to have the ability to configure the subclass of ActiveEncode::Base to use within HD.

[2017-04-18 14:47] val99erie commented on #1785
@cjcolvar Yeah, that seems like a good idea not to hard-code the class.

[2017-04-18 15:31] mcwhitaker commented on #1801
All files are listed in the IIIF-AV document for the purpose:
https://docs.google.com/document/d/1gInWfSIepIzerulJ4be75o7dyXvaS_B_WYuI5kg76R4/edit

[2017-04-18 15:31] #1801 closed

[2017-04-19 14:27] val99erie commented on #1785
What to do about supplemental files like thumbnails or subtitles?

One other thing that we need to think about (perhaps in a separate story) is whether or not supplemental files would be stored externally or if we would need to download them to whereever fedora is storing its files.  For example, if you create a thumbnail with Elastic Transcoder, would you serve the thumbnail from s3, or locally?

[2017-04-19 14:47] val99erie commented on #1785
After discussion in the slack channel, it seems that we should probably leave it up to the implementer to make sure all the files are in the correct place to serve from.  Trying to do anything else would be a large scope creep for this story.

[2017-04-19 14:49] lealeelu commented on #1798
This wasn't really done. Found a bug. This should fix it though:
https://github.com/avalonmediasystem/mediaelement_rails/commits/opacity-fix

I expanded the size of the swf player to 20x20px but it started showing up in the embed player. So I changed the opacity to 0, which fools google at least for now.

[2017-04-19 20:08] lealeelu commented on #1798
I'm going to have to pass on this one for a little while.

Karthik did some testing and found that he couldn't get the embeded player to play. I looked further into it and found that chrome may be defaulting some components to html5 because of the option in chrome://flags called "Prefer HTML5 over flash". When I disable this option, the embed player works perfectly (I'm assuming because it's using

[2017-04-19 20:16] mcwhitaker commented on #1798
@lealeelu  "when I set the option to default or disabled, it doesn't play" - did you mean "default or enabled"? If so, and when the flag is set to disabled you can play, read on.

I think we can instruct users that they need certain settings for avalon content to play. So if we need to tell the users that they need to disable that flag (and the flag remains disabled across browser sessions), I am

[2017-04-19 20:19] lealeelu commented on #1798
ya, I meant enabled. The problem with just disabling that is the flags area is a no-go zone for users. If you go to it, you'll see what I mean. Any wrong step and they can seriously mess up chrome beyond repair. It's really only for developers and advanced users. :(

[2017-04-20 14:19] joncameron commented on #1826
Extra ticket to be created for:
- Gives instructions on how to set it up with S3 and Elastic Transcoder
- Further documentation

[2017-04-20 14:23] joncameron commented on #1775
Our approach yet to be figure out—sandbox vs. contributing to plugin directly.

[2017-04-20 14:25] joncameron commented on #1775
2 pieces of work: committing to the iiif-av manifest gem (support for iiif-av manifests), and extracting hyku's iiif manifest MVC into a plugin for hyrax.

[2017-04-20 14:49] joncameron commented on #1831
We may not need a script, since we don't know yet how batch ingest works in Hyrax.

[2017-04-20 17:33] cjcolvar commented on #1775
Discussions on slack revealed that there is interest on porting the hyku code into core hyrax and some effort has already been applied by Matt Critchlow (UCSD) and Thomas Scherz (Cincinnati).  I said we would let them know when we start work on this.  Matt mentioned that they might be able to apply some dev effort to this.

[2017-04-21 13:34] joncameron opened #1837 "Bibimport Leaves Old Data In Place"
### Description

When the bib-import button is pressed, the record is saved at that point. If a new bib-import is performed, then only fields with data will be imported and the other fields from the old import will remain with the old content.

### Done Looks Like
- Information from a previous bibimport shouldn't stay in place on another bib import.
- We should throw a warning with an OK that says

[2017-04-21 13:49] little9 commented on #1756
I'm putting these here and will update/make them issues later today

* IIIF-AV player should be able to render the `structure` portion of the IIIF-AV manifest
* IIIF-AV player should be able to navigate the video by interacting with the `structure`
* IIF-AV player should render on a view in Hyrax when there is an element on the page with a data attribute pointing to the manifest `<div data-iiif-av

[2017-04-21 13:57] little9 commented on #1756
* IIIF-AV player should have a quality selection interface when `type: "Choice", choiceHint: "user"` is present in the manifest
* Create a IIIF-AV audio example manifest
* The IIIF-AV player should be able to play audio-only manifests

[2017-04-21 15:43] Karthikeya212 opened #1838 "Failed to auto-switch between sections of different types"
### Descriptive summary
Server: spruce.dlib.indiana.edu
Testing: Exploratory
Browser: Chrome(56.0.2924.87 (64-bit)), checked on Firefox(50.0.2) as well
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Player is not automatically switching sections of different types, i.e. audio and video sections. audio-to-audio and video-to-video switching is fine but no audio-to-video and video-to-au

[2017-04-21 15:47] Karthikeya212 commented on #1838
Similar issue is seen with playlist items as well

[2017-04-21 20:28] joncameron opened #1839 "Render the "structure" Portion of a IIIF-AV Manifest"
### Description
The iiif-av player needs to render the structure portion of the iiif-av manifest.

### Done Looks Like
TBD

[2017-04-21 20:29] joncameron opened #1840 "Seek in Media Player By Interacting With Structure"
### Description
IIF-AV player should be able to navigate the video by interacting with the structure

### Done Looks Like
TBD

[2017-04-24 01:16] #1834 closed

[2017-04-24 13:46] joncameron opened #1841 "Player Can Consume Audio-only Manifests"
### Description

Informed by #1842

### Done Looks Like
- [x] The IIIF-AV player should be able to play audio-only manifests.
- [x] The player should display as an audio player when an audio-only IIIF-AV manifest is consumed
- [x] Structure should be accounted for in a similar manner to Video.

[2017-04-24 13:49] joncameron opened #1842 "Create an audio IIIF-AV Example Manifest"
### Done Looks Like
- [x] an example IIIF av audio manifest is published
- [x] documentation is written if necessary about approach taken
- [x] issues are generated for player to use manifest.

[2017-04-24 13:51] joncameron opened #1843 "Quality Can Be Chosen When Present In Manifest"
### Description
IIIF-AV player should have a quality selection interface when type: "Choice", choiceHint: "user" is present in the manifest

The functionality should mimic current functionality in Avalon.

[ UPDATE - May 11, 2017 ]
This story evolved to represent file quality selection in the URL via hash params.  When a manifest contains different quality file options, the player will play the sp

[2017-04-24 13:53] joncameron opened #1844 "Navigate by Interacting With Structure"
## Done looks like
If structural metadata is present that contains time ranges, a user should be able to click links representing that structure to seek within the media in the player.

### Notes
Per conversations, IIIF allows for a parent to represent the entirety of its children in deeply nested structures. The parent becomes is inclusive of extents in children.

[2017-04-24 13:54] joncameron opened #1845 "Player Renders on Page When IIIF-AV Manifest is Present"
### Description
The IIIF-AV-compliant player should render on a view in Hyrax when there is an element on the page with a data attribute pointing to the manifest URL.  <div data-iiif-av-endpoint=http://path/to/manifest.json />

### Done Looks Like
- [ ]

[2017-04-24 13:57] joncameron opened #1846 "Investigate Display of Structural Metadata Within Hyrax Context"
### Description
This is an investigative ticket to discuss direction for the player UI and how to represent structural metadata.

### Questions
Do we want structural metadata to display within the media player, like can be done with Universal Viewer? Or should we keep structural metadata outside the player as it is in 6.x? What are pros and cons of each approach with respect to the user experience

[2017-04-24 13:58] #1756 closed

[2017-04-24 15:08] mcwhitaker commented on #1845
@joncameron My understanding from conversations with the devs last week is that in hyrax the manifests are generated dynamically, so there will not be a data attribute pointing to a manifest. Maybe we need to rephrase this?

[2017-04-24 15:52] cjcolvar commented on #1845
I think there can still be a data attribute pointing to the iiif manifest building endpoint.  @little9 mentioned in slack:
Right now it works by putting an element in the view like this: `<div id="demo-video-player" data-iiifav-source="https://path/to/manifest/demo/iiifav">`

[2017-04-24 17:46] mcwhitaker commented on #1845
@cjcolvar Sure. Then the wording needs to be: "pointing to the IIIF building endpoint" instead of "pointing to the manifest".

[2017-04-24 19:48] carrickr commented on #1824
Fits is being called way down in Hydra::File_Characterization and then passing info upstream.  Hydra Derivatives mostly seems to use `:mime_type_from_fits`.  In characterization they mostly use it for mimetype, the [spec](https://github.com/projecthydra/hydra-file_characterization/blob/1c495fc1f76290760dd4c3b7f739596be72310a9/spec/lib/hydra/file_characterization/characterizers/fits_spec.rb) is foc

[2017-04-25 14:39] carrickr commented on #1824
Currently the player uses:

width and height from masterfile (for video)
duration from the masterfile, but we should probably use the derivative

[2017-04-25 14:49] carrickr commented on #1824
[code]

[2017-04-25 14:50] cjcolvar commented on #1824
Do we need to make it possible to run fits on derivative files coming out of hydra-derivatives? Or can we rely on tech metadata coming out of the active-encode job?

[2017-04-25 14:51] carrickr commented on #1824
But insufficient output for the .ogg

[code]

[2017-04-25 15:31] cjcolvar commented on #1824
Any technical metadata that hyrax isn't currently capturing and we need we should be able to add by creating a PR to video_schema or audio_schema in hydra-works:
https://github.com/projecthydra/hydra-works/blob/master/lib/hydra/works/characterization/schema/video_schema.rb
https://github.com/projecthydra/hydra-works/blob/master/lib/hydra/works/characterization/schema/audio_schema.rb

[2017-04-25 15:42] cjcolvar commented on #1824
List of possible fits properties for video (from @little9): https://github.com/little9/SolrFits/blob/master/solr/schema.xml#L245-L277
List of possible fits properties for audio (from @little9): https://github.com/little9/SolrFits/blob/master/solr/schema.xml#L282-L304

[2017-04-25 15:43] little9 commented on #1842
Is this specifically about creating an example audio manifest?

[2017-04-25 15:46] carrickr commented on #1824
Current data we're getting in Fedora for a mp4

[code]

[2017-04-25 15:49] adamjarling commented on #1842
@joncameron To follow up on Jamie's note, should we put relevant notes under this ticket, or create a separate ticket about playing an Audio file from an example audio manifest?   I have some info from Brian which might be helpful to log in comments.

[2017-04-25 17:27] adamjarling commented on #1842
@mcwhitaker Does the sample manifest below look like it's acceptable to play an audio track?  @bkeese mentioned that the manifest files for video and audio should be very similar, so we created this trimmed-down version.

Note the difference is "type":"Audio" within "items".  Brian also mentioned audio "items" could potentially be in the same array alongside video "items".

[code]

[2017-04-25 17:43] mcwhitaker opened #1848 "As an instructor, I want a way to share playlists with a group of people defined by me"
### So That

I can share a _listening exam playlist_ with AIs without making the list public (risking undesired access by students who will be taking the listening exam).

### Possible Options
- Users can create "unlisted" links for a playlist with a URL that is not easily accessed in the style of YouTube(like avalon.edu/playlist/2ks93k2js)
- Users can require that a playlist is only accessible vi

[2017-04-25 21:59] adamjarling commented on #1842
@little9 I pushed up a feature branch which includes some bare bones audio support, in a separate player from your video player.

https://github.com/avalonmediasystem/avarax-poc/tree/feature-play-audio

I'll be at Code4Lib the next 1.5 days, but back Thursday afternoon.

@davidschober This is the story I mentioned earlier in our meeting.  Guessing it will get broken out or re-defined at some point

[2017-04-26 19:45] davidschober commented on #827
Closing as we've settled on a new version of media-element with the long-term goal of putting it within the context of universal viewer.

[2017-04-26 19:45] #827 closed

[2017-04-26 19:47] davidschober commented on #1842
@joncameron I renamed to audio iiif-av

[2017-04-26 19:49] davidschober commented on #1844
@little9 it looks like you already started some work on this. Feel free to add any refinement you want.

[2017-04-26 19:50] davidschober commented on #1839
related to #1844

[2017-04-26 19:51] mcwhitaker opened #1849 "As a faculty member with audio content in Avalon, I want to be able to share just clips of audio files in playlists"
### Description
In the current playlist view, the entire masterfile is displayed in the media player, with the range of the playlist item displayed as a highlighted region within the context of the masterfile.

## Original Story Description
### So that
The playlist I share is limited to the clips of my work that I want to highlight.

### Done looks like
User has a way to share only clips of the me

[2017-04-26 19:51] davidschober commented on #1839
@little9 and @adamjarling and @joncameron given what I've seen is this done already? I'm a bit confused.

[2017-04-26 19:59] davidschober commented on #1714
Closing as it looks like the team is cranking away.

[2017-04-26 19:59] #1714 closed

[2017-04-26 20:00] davidschober commented on #1840
@joncameron is this a dupe of #1844?

[2017-04-26 22:04] #1776 closed

[2017-04-26 22:05] davidschober commented on #1844
Note depends upon #1839

[2017-04-26 22:11] davidschober commented on #1843
![screen shot 2017-04-26 at 5 10 23 pm](https://cloud.githubusercontent.com/assets/4803230/25459332/5356e0aa-2aa3-11e7-9013-ed321d04ac4e.png)

[2017-04-27 13:01] #1823 closed

[2017-04-27 13:52] little9 commented on #1784
This is done now. The player can be be displayed anywhere in Hyrax where you put an HTML element that looks like this: `<div id="demo-video-player" data-iiifav-source="https://path/to/manifest/demo/iiifav">`

[2017-04-27 13:58] little9 commented on #1839
@davidschober I would say this is done now

[2017-04-27 14:01] little9 commented on #1844
I have this partially completed, but need to figure out a way to do parent -> children extents. Navigation is done with hashes in the url so that portions can be linked to directly.

[2017-04-27 14:20] davidschober commented on #1824
Summary:

Most were there but there were some bugs in fits.

Options:

- expand out and save additional fields (pixel width). Add additional data to current tech metadata
- do something like our own media type where we call a version of media info and control the process

More investigation to figure out if FITs can do it (if it's only one or two types).

[2017-04-27 14:23] carrickr opened #1850 "Investigate FITS and Storing Additional Technical Metadata in Hyrax"
### Points of Investigation
- [x] determine why FITS doesn't provide proper metadata for .ogg video and consider PRing to fix it
- [x] determine if other video types have this issue
- [ ] ~look into having Hyrax store additional technical metadata fields for the generic work type.  See [this comment](https://github.com/avalonmediasystem/avalon/issues/1824#issuecomment-297069043) for locations to m

[2017-04-27 14:29] davidschober opened #1851 "Create audio and video manifest"
## Description

A manifest can hold both audio and video at the same time. For #1852 we need an example manifest that represents audio and video.

## Done looks like

- We have an example of a manifest that contains **both** audio and video
- The audio and video manifest is made public on a website somewhere so the POC player can consume it
- folks working on the player are notified of where to fi

[2017-04-27 14:29] davidschober opened #1852 "iiif player can consume audio and video at the same time"
## Description

Some works will be comprised of _both_ audio and video media. IIIF -av should be able to represent these works, and the avalon player should be able to consume the manifest and play the content. A single player should be represented on a page.

## Done looks like

- the player can consume the manifest and play the media based on example manifest in #1851
- the player swaps based on

[2017-04-27 14:34] davidschober commented on #1843
This assumes the video tag has all the sources already. And the manifest has been parsed.

(jamie) will the manifest be consistent or a minimum number.
(maria) currently that's the norm but it could change.

[2017-04-27 14:37] davidschober commented on #1775
For proof of concept we can use static manifests.

[2017-04-27 14:46] davidschober commented on #1817
This is looking toward the avalon work type.

(maria) We need to look to other types of metadata we would want to put into the manifest so that other client can consume the manifest.

[2017-04-27 15:28] joncameron commented on #1851
@joncameron Find example item in current Avalon instance

[2017-04-27 15:56] davidschober commented on #1839
@joncameron closing. You can reopen if more needs doing.

[2017-04-27 15:56] #1839 closed

[2017-04-27 15:58] davidschober commented on #1784
@little9 Great! Is this worth demoing?

[2017-04-27 16:49] davidschober commented on #1775
@cjcolvar This needed your input for pointing. Feel free to size and/or discuss.

[2017-04-27 16:49] davidschober commented on #1829
@cjcolvar This needed your input for pointing. Feel free to size and/or discuss.

[2017-04-27 20:48] lealeelu commented on #1850
Got output for an .ogg video. https://gist.github.com/lealeelu/9d2ff2690049201c2613a433e72c7cf7

I got fits to look at the ogg with mediainfo by going into xml/fits.xml and adding .ogg to the list of mediainfo included extensions like so:
[code]
and that also determines which order the tools run in and output preference.

[2017-04-27 21:02] lealeelu commented on #1850
Also, it runs a ton faster if you disable some of the tools listed in fits.xml. Are there any in there we might not need?

[2017-04-28 13:59] cjcolvar commented on #1775
@davidschober I'm not entirely sure what this story's goal is now so I can't size it.  Are you saying in your last comment that the IIIF AV endpoint should serve up static manifests?  Is your thought that we would still pull in Hyku's endpoint code but only return a static manifest (static as in the same manifest is returned regardless of the query)?

[2017-04-28 14:00] joncameron opened #1853 "IU Production Issues (26)"

[2017-04-28 14:34] #1784 closed

[2017-04-28 14:40] #1798 closed

[2017-04-28 14:42] #1824 closed

[2017-04-28 14:46] joncameron opened #1854 "Extend Generic Work Type to Power IIIF Work Type"
## Description
If it is possible to have a video dropped into a generic work type in Hyrax, a IIIF manifest will still need to be created for use with our player. Full descriptive metadata is out of scope for this issue, only critical metadata necessary to power a player.

In order to create an on the fly IIIF manifest, we will need to store critical technical and descriptive metadata. When this i

[2017-04-28 14:46] #1727 closed

[2017-04-28 14:46] #1719 closed

[2017-04-28 14:47] joncameron opened #1855 "S3 Storage for Dropbox"
### Description

AWS storage for files needs to be discussed.
Decision point

### Decision Points
- [ ] What are we going to do?
- [ ] Create plan for moving forward and write new tickets as needed.

### Original Issue
Broken out from: https://github.com/avalonmediasystem/avalon-docker/issues/9

[2017-04-28 14:47] #1780 closed

[2017-04-28 14:47] #1785 closed

[2017-04-28 14:48] #1828 closed

[2017-04-28 14:48] #1844 closed

[2017-04-28 14:48] #1845 closed

[2017-04-28 14:52] #1722 closed

[2017-04-28 14:53] joncameron commented on #1722
This is being closed and we will kick off further tickets as needed, especially if there's a need to actually implement some sort of ldap. Work for authorization will be represented on a separate ticket.

[2017-04-28 14:53] #1252 closed

[2017-04-28 14:54] davidschober commented on #1722
We did the investigation. This can be used, but firewalls will depend up local environments. NU is digging into openID. The team will look into Shibboleth for SAAS pilot.

[2017-04-28 15:26] joncameron opened #1856 "Build iiif-av manifests with Manifest Gem"
### Description
The iiif_manifest gem is currently in projecthydra-labs:
https://github.com/projecthydra-labs/iiif_manifest

This is informed by #1854

### Done looks like
So we can generate IIIF representation 3.0 manifests for the endpoint(#1775).

### Tasks
- [ ] Create a branch within the IIIF Manifest gem for the 3.0 (av) spec
- [ ] Investigate what changes need to be made to add AV and make

[2017-04-28 15:27] joncameron opened #1857 "extract hyku's iiif manifest MVC into a plugin for hyrax."
This is upstream community work.

## Done looks like:

Hyrax has a IIIF manifest plugin to extend/ work with

## Tasks
- [ ] Connect with interested hyrax developers
- [ ] Review prior work by Thomas Scherz and others
- [ ] Extract Controller behavior from hyku
- [ ] Decide to build a plugin or PR directly to hyrax
- [ ] Build plugin (if necessary)
- [ ] Test with image and av manifests

[2017-04-28 15:33] davidschober opened #1858 "[EPIC] Incorporate current r look into IIIF Player"
## Description

With the move into Hyrax we have settled on an updated media element player consuming a IIIF manifest. We need to skin media element to have a similar look and feel as the current avalon 6.x player (with updates as necessary).  It should incorporate elements from the list Adam has created in #1860.

Core Features:

* Sharing
* Play/Pause
* highlighted sections
* marker pointers
* a

[2017-04-28 15:35] #1723 closed

[2017-04-28 15:36] #1724 closed

[2017-04-28 15:37] #1248 closed

[2017-04-28 17:54] cjcolvar opened #1859 "ActiveFedora External File PR"
Continue to track and shepherd the ActiveFedora PR focused on external file support:
https://github.com/projecthydra/active_fedora/pull/1234

### Done Looks Like
Developers have support in ActiveFedora for storing references to external content for files.

### Tasks
- [ ] Review Fedora discussions on external-content particularly https://github.com/fcrepo/fcrepo-specification/pull/121
- [ ] Decide

[2017-04-28 18:22] phuongdh commented on #1800
We'll need an Avalon 7 app before we can deploy it to the new server

[2017-04-28 20:18] #1616 closed

[2017-04-28 20:28] #1788 closed

[2017-04-28 21:44] mcwhitaker commented on #1842
@adamjarling I suppose so. In Avalon, we don't choose between an audio or a video, which is what your manifest is representing; we choose between derivatives. But what you have here should be possible within a IIIF-AV manifest.

For POC, I think this is fine, since we are hard coding the choice made; but for Avalon in general we have 2 qualities for audio -- medium and high.

I would use something

[2017-05-01 15:04] adamjarling commented on #1842
@mcwhitaker Great, thanks.  Any updates you can continue to share which reflect real use cases and anticipated manifest structure will be super helpful.

[2017-05-01 16:21] cjcolvar commented on #1610
I didn't notice this being a problem the last time I tested the migration, but I'll check again the next time I run it and close if it isn't a problem.

[2017-05-01 19:43] cjcolvar commented on #1582
@david.schober @joncameron @jlhardes
Julie and I talked and decided that setting these to <id>_<filename>.<extension> made the most sense so all of the filenames were identifiable (e.g. all workflow docs don’t get named workflow.xml)…
But it looks like this is hard to do since we would have to update the filename once the file was saved in Fedora…
AND active-fedora doesn’t handle updating the file

[2017-05-01 20:10] joncameron commented on #1582
After talking with Chris I think using static names (e.g. workflow.xml) for all of these properties is the best route to take at the moment. We can make a note to go back and add niceties later (something along the lines of 'NOIDVALUE-workflow.xml' to make it distinguishable once downloaded) but the time involved with make upstream changes probably isn't worth it right now. Looking at @jlhardes fo

[2017-05-01 20:27] jlhardes commented on #1582
Just spoke with @joncameron and @cjcolvar and we ended up at this: if all .xml files on an object can have the unique identifier added (without the complications listed in @cjcolvar's comment) then it's worth it to have the unique object identifier included in the filename for downloading purposes. If only some of the .xml files for an object can have that unique identifier added to the filename (

[2017-05-02 13:21] bkeese commented on #1610
This can be closed. It was an artifact of my testing wherein I had a different authentication configurations for the R5 and R6 instances I was using. I made a note in the migration instruction wiki page addressing this possibility.

[2017-05-02 13:58] mcwhitaker commented on #1842
I created the manifest for the Mahler symphony that we have in pawpaw and made the media files available: http://dlib.indiana.edu/iiif_av/mahler-symphony-3/mahler-symphony-3.json

[2017-05-02 14:20] carrickr commented on #1758
@davidschober Do you know which one this is a copy of?  I wasn't able to figure out one where.

[2017-05-02 14:21] carrickr commented on #1778
@joncameron @davidschober This needs tasking by the POs

[2017-05-02 14:23] carrickr commented on #1247
Note this story is tasked, by blocked by all the other AWS items and the need to have a functioning AWS install

[2017-05-02 14:31] adamjarling opened #1860 "Create current feature list documenting 6.0 media player"
Create a feature list of the current Avalon media player, which will guide development tasks for the new Hyrax player.

### Done Looks Like:
- [x] The below list is filled-out

### Video Features
#### Player Icons
- Play/Pause
- Toggle track scrubbing
- Volume adjustment
- Video quality selector
- Create thumbnail
- Add to playlist
- Add Marker
- Full screen

#### UI
- Share dialog
  - Share this

[2017-05-02 14:35] carrickr commented on #1541
@joncameron Could one of you verify this occurs in 6.x?  If not, can we abandon given everyone is moving 6.x this summer?

[2017-05-02 14:39] carrickr commented on #1552
Playlist 2108 has been removed from mallorn or made private ( @joncameron  ).  We'll need to make a new playlist

[2017-05-02 14:44] carrickr commented on #1552
Root cause is the way the player responds to the changing of its sources and the fact the player still has some events from the previous source, leading to a weird synchronization problem between previous events and new events .

[2017-05-02 14:44] lealeelu commented on #1541
It's happening in 6.x on spruce.
I noticed that the further into the track the bookmark is placed, the more it's off by. The track display is probably fine, it's the markers that are off. I added some images above.

[2017-05-02 14:50] carrickr opened #1861 "Investigate Solutions To Why Playlist Items Are Skipped"
This is a swarm topic

- [ ] create playlist where the skipping occurs, using either lots of short clips or repeating the same clip
- [ ] investigate fixing this while maintaining seamlessly play through
- [ ] if seamless is not possible, investigate if inserting a pause between items solves the issue
- [ ] if the pause does not fix, discuss potential cost of fix vs potential cost of a new player

[2017-05-02 15:06] cjcolvar commented on #1293
I'm going to put a comment in the code with a TODO and mark this abandoned.  In 7.x this will probably be a non-issue.

[2017-05-02 15:15] cjcolvar opened #1863 "Create hydra-derivatives OutputFileService which captures technical metadata from ActiveEncode"
The PersistExternalFileOutputFileService that we are adding to hydra-derivatives only saves the derivative file and not the technical metadata which we need to drive the player.

- [ ] Create OutputFileService which subclasses PersistExternalFileOutputFileService and stores technical metadata on the AF::File that is persisted.
- [ ] Determine if this service class should live in hydra-derivatives

[2017-05-02 15:54] #1610 closed

[2017-05-02 16:33] adamjarling commented on #1858
Blocked by #1860

[2017-05-02 17:59] cjcolvar commented on #1293
@davidschober @joncameron ^^^ Is this okay with you two?

[2017-05-02 18:06] cjcolvar commented on #1582
I'm going to use static filenames all around since it was giving me trouble when I was working on it yesterday.

[2017-05-02 18:08] joncameron commented on #1293
@cjcolvar OK with me. I'll move this to done.

[2017-05-02 19:29] #1293 closed

[2017-05-02 19:40] cjcolvar commented on #1610
I'm noticing that the role_map table will reload from the yaml if any requests are made after the wipeout script is run and before the DB dump is loaded.  We should put a note about this somewhere to warn people who are rerunning the migration script.

[2017-05-03 14:27] davidschober commented on #1758
@carrickr I don't. I'm trying to flesh it out, but it was from a while ago. @joncameron can you get a screenshot and add it to this issue?

[2017-05-03 14:31] davidschober commented on #1758
oh, the copy label does not mean duplicate but "writing" as in copyeditor. @carrickr

[2017-05-03 14:58] davidschober commented on #1725
@mbklein @phuongdh mentioned you had some ideas about this. I'm working on cleaning up the issues to be more verbose. Does the above capture?

[2017-05-03 15:13] #1721 closed

[2017-05-03 15:14] #1145 closed

[2017-05-03 15:43] davidschober commented on #1763
I'm a bit confused on the work necessary for this one. Is this a controlled vocabulary each institution implementing Avalon would need to define?

[2017-05-03 15:53] davidschober commented on #1534
@joncameron can we abandon this in favor of 7.x improvements?

[2017-05-03 15:55] #1840 closed

[2017-05-03 15:55] davidschober commented on #1840
Jon, closing as dup. Please reopen if necessary.

[2017-05-03 15:56] davidschober commented on #1503
@mbklein and @cjcolvar this work was completed as part of our migration work, correct?

[2017-05-03 16:36] cjcolvar commented on #1503
We did the work, but I'm not sure if documentation was ever written for it.

[2017-05-03 17:37] jlhardes commented on #1763
Yes, units need to be represented as URIs to work with the heldBy property (whether it's in BF1.0 or BF2.0). This can be a value from LCNAF or any other linked data source if there is an authorized form of the unit's name available as linked data or it might need to be a locally-created object that can then be referred to via URI. That's up to the institution.

ns003:heldBy in the example above is

[2017-05-03 18:10] joncameron commented on #1726
Where's the line drawn between Avalon AWS and Avalon SaaS? Is this something not necessary for AWS, but rather is something configured for an instance of Avalon running in a SaaS environment? It's unclear at the moment to me.

[2017-05-03 18:14] davidschober commented on #1726
@phuongdh or @mbklein can you rewrite the describe this a little more clearly. Is the goal to have shibboleth work with AWS?

[2017-05-03 18:27] joncameron commented on #1829
@cjcolvar Can you describe what the benefits are for having this plugin work with FlipFlop versus just having it active via configuration file(s)?

[2017-05-03 18:36] cjcolvar opened #1869 "Add Fedora4 URI to MODS record as recordIdentifier"
## Description

Per discussion on slack, the recordIdentifier for the fedora 3 pid should be left in the MODS document and a new recordIdentifier should be added for the fedora 4 uri:
`<recordIdentifier source="Fedora4">[full object URI]</recordIdentifier>`

This is something we could rerun later to add to the mods record.

## Done looks like

- [x] Fedora4 URI is added to MODs record as a recordI

[2017-05-03 19:13] cjcolvar commented on #1829
I think just making it visible and giving the ability to turn it off easily without machine access.  I'm also hoping that by declaring it a feature we will be able to use a Hyrax construct instead of doing our own thing which may be beneficial.  For instance, I thought there was interest in Hyrax having features togglable per admin set which seems useful for this feature.  If this were a flipflop

[2017-05-03 19:18] jenyoung commented on #1763
I agree -- A side issue, can we control the display of the units?  Example -- NU Archives has a LCNAF form which is
**Northwestern University (Evanston, Ill.). University Archives** with a URI of http://id.loc.gov/authorities/names/no2016011576

However, we currently have this display as **Northwestern University Archives**. I think we would want this to continue to display this way.

[2017-05-03 20:11] carrickr opened #1871 "On a Vanilla Install, Developers Get Migration Error"
[code]

This is caused by `20170503194037_create_annotations_active_annotations_rb.rb` somehow being added in whenever rake db:migrate is called.  The date will be today's date (so 20170503 will change).

[2017-05-03 20:17] mcwhitaker commented on #1842
@adamjarling For your reference, the Avalon navigation tree for the Mahler item is here: https://pawpaw.dlib.indiana.edu/media_objects/2j62s484w

[2017-05-03 20:22] carrickr opened #1872 "Update .env.development to have correct mediainfo path"
needs to be changed to `MEDIAINFO_PATH=/usr/local/bin/mediainfo`

currently missing the local

[2017-05-03 20:42] mcwhitaker commented on #1760
@bkeese Brian, your embed player works well! :thumbsup:

I don't know if accuracy is part of POC, maybe not, but when I play and pause and play again, it always repeats a little bit of what was played before.

[2017-05-03 20:43] carrickr commented on #1871
Correction, looks like somehow this migration is created:
[20170503194037_create_annotations_active_annotations_rb.txt](https://github.com/avalonmediasystem/avalon/files/974646/20170503194037_create_annotations_active_annotations_rb.txt)

We either need to have this not be created or alter `b/migrate/20160825153112_add_annotations_clips_markers.rb` to use change_table over create_table

[2017-05-03 20:53] bkeese commented on #1760
That behavior is not a function of the postMessage API, but rather the player itself or, more likely, the streaming server. The API simply calls play or pause on the player.

[2017-05-03 20:59] davidschober commented on #1775
@cjcolvar The static comment was just saying that for POC we can use a static manifest. The work here is to define how we will implement a IIIF endpoint (it was written before we knew of the existence of hyku's manifest gem.

[2017-05-03 21:14] mcwhitaker commented on #1534
@joncameron I think we can abandon it with respect to 5.x but not with respect to 6.x.

[2017-05-03 21:14] mbklein opened #1874 "Batch Ingest"
- [x] Implement S3-based Batch Ingest
- [ ] Set up S3 Event for triggering Batch Ingest

[2017-05-03 21:17] mbklein opened #1875 "Investigate Enable skip-transcoding"
## Description

Skip Transcoding is tricky on AWS because there's no good way to run things through Elastic Transcoder _just_ for HLS segment splitting.

## Done looks like

- [x] investigate and come up with a plan for skipping transcoding
- [x] issues written and pointed for work.

[2017-05-03 21:29] davidschober commented on #1804
The hyku feature list shows bulk ingest via spreadsheet https://docs.google.com/spreadsheets/d/1Cd2FCYa_7O5ngQjvAdVa6S0kyk2M8SYjEj4abpjpCsY/edit#gid=0

We need to see if we can rip this functionality out of hyku and customize.

[2017-05-03 21:38] adamjarling commented on #1842
@mcwhitaker Perfect.  I'll update the manifest and code tomorrow.

[2017-05-03 23:06] joncameron commented on #1534
I agree with Maria—I've dropped the 5.x tag. This discussion can apply to UI design we use for the player in Avalon in general, both for 6.x and beyond.

[2017-05-04 13:49] joncameron commented on #994
Abandoned since our current direction is decided and this no longer needs to be discussed.

[2017-05-04 13:49] #994 closed

[2017-05-04 13:50] cjcolvar opened #1877 "prov:wasDerivedFrom is not being indexed"
prov:wasDerivedFrom is not being indexed due to a bug in ActiveFedora/ActiveTriples where URI's aren't being indexed.  We either need to submit a PR to fix this, find a workaround, or give up and use a string instead of an RDF::URI.

[2017-05-04 13:54] jlhardes commented on #1877
Never give up! :) That property needs a URI as a value so I would vote for PR fix.

[2017-05-04 14:01] joncameron commented on #1856
Does this need to be broken?

[2017-05-04 14:11] jenyoung commented on #1877
I agree. URI is needed.

[2017-05-04 14:25] adamjarling opened #1878 "IIIF Media Player - File Quality UI Selector"
### Description
In the new Hyrax Mediaelement player, provide the audio/video quality selection functionality which currently exists in the Avalon 6.x player.

### Done Looks Like
- Video player has a quality selection icon
- Audio player has a quality selection icon
- Selecting video quality option loads the correct file
- Selecting audio quality option loads the correct file
- Audio/Video manife

[2017-05-04 14:41] davidschober commented on #1877
points assume we're doing the work around. @cjcolvar needs this in sprint 126.

[2017-05-04 14:41] adamjarling opened #1879 "Media element 4 - Track Scrubbing"
### Description
Re-create track scrubbing (lil' scrub) functionality from Avalon 6.x player into MEJS4 player.  After a discussion with @joncameron we're going to limit the scope of this ticket to just the mediaobject view, and not the playlist page.

### Done Looks Like
lil' scrub is implemented in  Mediaelement 4, along with the highlighting on the main scrub bar (#2184).

### Tasks
- [x] Add sc

[2017-05-04 14:45] adamjarling opened #1880 "Media element 4 - CreateThumbnail"
### Description
Re-create create thumbnail functionality from Avalon 6.x video player into Hyrax Mediaelement video player.

### Done Looks Like
As a user, I want to press a button that triggers a modal pop-up that displays a static image. And saves said static image data to the proper place.

### Tasks
- [x] Attempt to bring in existing mediaelement plugin.
- [x] If that doesn't work, create plug

[2017-05-04 14:49] davidschober commented on #1393
@carrickr said "should be sanitizing input"

[2017-05-04 14:52] bkeese commented on #1393
This might have been fixed to some extent by a recent change to bib_import that strips whitespace from the beginning and ending of submitted text.
https://github.com/avalonmediasystem/avalon/commit/e683b2f55b99ee46bf32a81be0b1f2bf8bf7e33d

[2017-05-04 15:04] adamjarling opened #1881 "Media element 4 - Add To Playlist feature"
### Description
Re-create add to playlist functionality from Avalon 6.x player into Hyrax Mediaelement player.

### Done Looks Like
Add to Playlist functionality works the same in the Hyrax environment as it does in current Avalon environment.

### Tasks
- [ ] Add to playlist icon added to both video and audio players
- [ ] Create the add to playlist dropdown UI markup
- [ ] Toggling icon brings u

[2017-05-04 15:40] joncameron commented on #1583
This is more about picking up when it left off, and returning to get items that were not covered.

[2017-05-04 17:11] cjcolvar commented on #1583
And failed items as well.

On 5/4/17 11:40 AM, Jon Cameron wrote:

[2017-05-04 18:00] davidschober commented on #1846
@joncameron this sounds pretty critical, can you write out a description?

[2017-05-04 18:59] cjcolvar commented on #1877
I think a workaround I suspected might work is.  I'm treating the property as multivalued even though we're only ever going to put a single value in it and the property getter/setter methods are only defined during the course of the migration.  This is hacky but an easy workaround.

[2017-05-04 19:03] jlhardes commented on #1877
Does this keep the value as a URI or is that working with the value as a literal?

[2017-05-04 19:19] adamjarling commented on #1842
@mcwhitaker Will the updated Mahler symphony example manifest structure be similar to how video manifests are structured as well?  @little9

[2017-05-04 19:30] mcwhitaker commented on #1842
@adamjarling Yes, they are similar. The only example I have not put together is one where we have video and audio in the same manifest, but it will be similar to this one, only with the format and type tags reflecting the media type. I don't find an example of this in pawpaw but can create one for the proof of concept if you need one.

[2017-05-04 19:39] cjcolvar commented on #1877
It is still a URI.

[2017-05-04 19:43] adamjarling commented on #1842
@mcwhitaker Yes, as we build out extended features into the Hyrax player, it'll help to have as many examples of real, use-case IIIF manifests, as soon as possible (but not to rush you obviously if decisions are still in flux).  If we see similarities in structure between audio and video and shared audio/video manifests, it will help us abstract manifest parsing functions to a shared class.  @litt

[2017-05-04 19:49] cjcolvar commented on #1607
I just ran a migration on mallorn and wasn't able to reproduce this. I'll keep an eye out for this when we run our test migration of IU production.

[2017-05-04 19:50] bkeese commented on #1842
It might be helpful at this point to consider manifests that contain both audio and video references (and images, 3D, ...). Audio and video manifests are just special cases of the generic IIIF manifest. Structure representation should be the same regardless of the type of media referenced.

[2017-05-04 19:57] bkeese commented on #1271
An example embedded Avalon player that uses the new Avalon postMessage API can be seen here: https://wiki.dlib.indiana.edu/display/AvalonIU/Test+Embed

[2017-05-04 20:16] adamjarling commented on #1842
@bkeese I think this is finally starting to make sense to me.  A manifest representing both audio and video would essentially look like?

[code]

[2017-05-04 20:30] bkeese commented on #1842
Yep.

[2017-05-05 11:48] davidschober commented on #1271
Cool. I'll review today.

Sent from my iPhone

[2017-05-05 14:37] joncameron commented on #1271
@bkeese Awesome! Looks good and worked great for me on the Confluence page. So it's the case that our current mediaelement version doesn't support looping? And would there be any way to put in a workaround to make that happen in the current player even though there's no built-in way to do it?

[2017-05-05 14:38] adamjarling commented on #1860
@davidschober @joncameron Does this list look complete enough to mark as 'Done'?

[2017-05-05 14:41] bkeese commented on #1271
Looping is actually in the version of the player we're using, but I think we're doing something (something to do with play-though, I think) that breaks it. Will look into it further.

[2017-05-05 14:51] joncameron commented on #1860
@adamjarling Looks good to me, and I think it's ready to mark as Done. I added "Add Marker" to the player—that one only appears on the player in Playlist view.

[2017-05-05 14:56] joncameron opened #1884 "Write Documentation for Player API"
### Description
Documentation for the Player API needs to be written and available on our Wiki so people wanting to use it have a reference.

### Done Looks Like
One or more wiki pages are written on the Avalon wiki describing how to use the Player API.

### References
#1271 - Create Player API
#1760 - Cross domain API proof of concept

[2017-05-05 15:00] adamjarling commented on #1860
@joncameron Great, thanks for adding that.  So maybe to mark this issue as done, where we don't need to reference it anymore, #1858 should be updated with subtasks to reflect everything in this initial list.   I'll continue updating the EPIC ticket with subtasks and add descriptions to flesh that out.

[2017-05-05 15:10] adamjarling opened #1885 "Media element 4 - Add Marker"
### Description
Add markers to videos in 'playlist' view.

### Done Looks Like
- Investigate current implementation of adding markers to a video (and audio?) and understand the ux/flow.
- Re-create add marker functionality from 6.x Avalon player, to Media  Element 4 player, building on the markers Mediaelement 4 plugin.

### Tasks
- [ ] Investigate current method and/or plugin for adding/editing m

[2017-05-05 15:26] adamjarling opened #1886 "Enable Share feature in Hyrax - Share Feature (front end)"
### Description
Hyrax mediaelement player should have same 'Share' functionality as Avalon 6.x player.  Note this is only to stub out the front end work. The video and audio UI share tabs will include:

- Share this resource
- Embed

Additionally, if LTI is configured, the share UI will have the following tab:
- LTI URL

### Done Looks Like
- The correct share code is generated and available to us

[2017-05-05 15:46] adamjarling opened #1887 "Hyrax Media Player - Sections"
### Description
Hyrax player UI should display a 'Sections' area similar in look and functionality to Avalon 6.x UI.

### Done Looks Like
- [x] Sections data is represented in the manifest
- [x] Create sections UI container markup
- [x] Sections manifest data parsed, and completes UI markup
- [x] #1946 Update Hash handler with canvas index/id
- [x] Links within section content cause the player to

[2017-05-05 16:18] adamjarling opened #1888 "Hyrax Media Player - Sidebar Metadata"
### Description
Hyrax player UI should display sidebar metadata content similar to how Avalon 6.x UI displays content.

### Done Looks Like
- [ ] Manifest file contains necessary metadata content
- [ ] Sidebar UI container markup created
- [ ] Manifest file parsed and supplies markup with correct data

![avalon-player-sidebar](https://cloud.githubusercontent.com/assets/3020266/25754456/e00d7256-31

[2017-05-05 16:26] adamjarling commented on #1841
Currently the audio player will render from an 'audio only' manifest.   At the moment both audio and video players are included in the UI, and are being fed their own specific manifest files.

This work is located at: https://github.com/avalonmediasystem/avarax-poc/tree/poc-media-player

[2017-05-05 17:42] joncameron commented on #1552
I've created a new playlist that exhibits the behavior in this bug.

[2017-05-05 17:47] bkeese commented on #1884
https://wiki.dlib.indiana.edu/display/VarVideo/Player+API

[2017-05-05 18:28] adamjarling commented on #1888
@bkeese Is the sidebar metadata content usually not part of the manifest?  There'd be another source of this info?

[2017-05-05 19:05] bkeese commented on #1888
That's a good question. We have had discussions about adding arbitrary metadata to the manifest, and it seems possible that we could add everything that might be wanted in the player view. However, there are other sources for this info that could be loaded separately.

[2017-05-05 19:07] adamjarling opened #1889 "Create Collection Modal - Add bottom margins to text inputs"
### Description
Add default application spacing/padding/margins to form elements in 'Create Collection' modal window

### Done Looks Like
- Form text input elements are evenly spaced vertically, and do not look scrunched together.

### Tasks
- [ ] Update CSS to fix margins

[2017-05-05 19:22] adamjarling commented on #1888
Ok, sounds good.  For now, I'll just put that on the back burner and assume it's coming from another source.

[2017-05-05 19:47] jlhardes commented on #1888
We defined minimum descriptive metadata to accompany an item in IIIF for Avalon - title and date - from #1772 and those are mapped to where they would go in the manifest. So the minimum metadata we require to describe an Avalon item is also the minimum metadata that should show in that sidebar.

[2017-05-05 20:09] lealeelu commented on #1869
In the process of testing this out, I thought it would be a good idea to make a new task based off of avalon:migrate:repo called avalon:migrate:pids that takes a list of pids separated by commas and only migrates that instead of everything ever.

[2017-05-08 15:32] davidschober commented on #1879
@adamjarling for this one you're looking at the little zoom scrubber, correct?

[2017-05-08 15:38] davidschober commented on #1872
@carrickr can you verify this is described correctly?

[2017-05-08 15:44] davidschober commented on #1860
This looks great. @joncameron do you want to add it to the wiki somewhere? or is it enough to have it represented in this issue.

[2017-05-08 15:44] adamjarling opened #1891 "Playlist empty list - call to action?"
### Description
When creating a playlist, default message displays "This playlist currently has no playable items."  There is no call to action or path forward for user.   Provide an action link or button guiding user to creating a playable item?

### Done Looks Like
- Discuss UX issue, and patterns in the application for similar scenarios?
- Provide a call to action link or button which takes use

[2017-05-08 15:49] davidschober commented on #1846
@joncameron can you rewrite this one? I"m not sure what it represents.

[2017-05-08 15:52] davidschober commented on #1852
@joncameron can you add  a link to a mixed media example from pawpaw?

[2017-05-08 16:00] adamjarling commented on #1858
@davidschober @joncameron @little9 Next steps on the player as of now (May 8, 2017) seem to be:
-  Decide whether we want the player to display only one player at a time (audio or video), so the section URI links work.
- Test pulling in previous Mediaelement plugins into the Hyrax player.

[2017-05-08 16:15] adamjarling commented on #1879
@davidschober Yea I was going to try using the scrubber plugin, see how to wire that into the Hyrax app.

[2017-05-08 18:25] jenyoung commented on #1888
Doesn't all the metadata associated with an item display now in the sidebar? Why would that be different in the player view? I don't know of another way to see more than the title and date  except for the sidebar.

[2017-05-08 19:38] joncameron commented on #1860
Yes, I'll add this to the wiki tomorrow so we don't lose track of it and close this issue.

[2017-05-08 19:51] #1582 closed

[2017-05-08 19:53] #1877 closed

[2017-05-09 13:22] joncameron opened #1892 "Update Pawpaw Comment Email Address"
### Description
As a team member, I want the comments form on pawpaw to send email to avalon@dlib.indiana.edu instead of vovcomment@dlib.indiana.edu so the latter can be retired. This will allow us to not have to manage multiple redundant email addresses.

### Done Looks Like
avalon.yml for R6 on pawpaw.dlib.indiana.edu  has comments sent to avalon@dlib.indiana.edu. Looks something like this after

[2017-05-09 14:18] carrickr commented on #1888
Per the conversation in swarm, show what we currently show in the sidebar, as shown in the original image.

[2017-05-09 14:20] davidschober commented on #1271
@joncameron and @bkeese let's break out looping into a separate issue and move this to done.

[2017-05-09 14:21] mcwhitaker commented on #1888
@jenyoung @jlhardes We should add to the IIF-AV manifest anything that we think we would like other players (not avalon) show if they embed our content.

[2017-05-09 14:22] davidschober commented on #1855
@joncameron, @phuongdh and @mbklein... I think we've made these decisions correct?

The cloud formation script currently drops off stuff in s3 buckets, handles batches from them, etc. Is there something more specific I'm missing?

[2017-05-09 14:23] carrickr commented on #1888
The equivalent of our metadata sidebar, the area in red in the  will be provided by universal viewer.  Regarding the original question, the section in red highlighted above comes from a separate source currently (as per bkeese's comment).

No dev work has been done with universal viewer yet, so we're not entirely sure what the AV manifest will look like (and how well it will work for presentation

[2017-05-09 14:36] carrickr commented on #1888
So Adam's initial question "Of what is in the IIIF vs the sidebar" was answered in that IIIF provides the data needed to drive the player.

Regarding displaying data to the user, that's more of a round 2 issue when we start refining the views, at which point we'll make tickets to detail that work and determine how we get the metadata to that page.

Closing as the ticket was answered, future ticket

[2017-05-09 14:36] #1888 closed

[2017-05-09 14:46] adamjarling commented on #1852
@joncameron @davidschober  Currently @little9 and I are working on two separate audio / video manifest structures, and seems to address this story, we choose one format as the current 'working JSON structure'.

When consuming a combined audio / video manifest for this story, and for a use case:
* Will the player display two separate players (audio/video) on a page when reading a combined manifest?

[2017-05-09 14:47] cjcolvar commented on #1398
@davidschober @joncameron Do we really need to backport this now that IU is going to 6 in a month?

[2017-05-09 14:48] lealeelu commented on #1433
The import for catalog key 15551486 is happening, but no label is being provided:
![image](https://cloud.githubusercontent.com/assets/5091130/25856675/bc77f5be-34a4-11e7-81a6-c6af059a6105.png)
When you save, no label is provided. There's probably more to the problem though.

[2017-05-09 14:52] adamjarling commented on #1843
Related to and/or duplicated by #1878

@little9 is currently working on a quality selection strategy driven by URI hash params.  I'll try to find that ticket and link it, as there was some discussion on Jamie's idea.  Then we should further clarify how we represent quality selection in the UI.

[2017-05-09 14:52] carrickr commented on #1821
This can probably be abandon.  We're going to run with generic work type until it breaks for us.  We've done enough investigation that we know how to make a work type in Hyrax if needed and we also know we don't want to do this unless we need to.

Right now though all we need is #1854 to power our player though.

[2017-05-09 14:53] carrickr commented on #1822
This can probably be abandon. We're going to run with generic work type until it breaks for us. We've done enough investigation that we know how to make a work type in Hyrax if needed and we also know we don't want to do this unless we need to.

Right now though all we need is #1854 to power our player though.

[2017-05-09 14:57] carrickr commented on #1854
This is high priority for pointing at the next backlog buddies

[2017-05-09 14:58] adamjarling commented on #1880
Pointing at a 3, assuming we can bring in mediaelement plugin.  If we build from scratch, will be much more work.

[2017-05-09 14:59] carrickr commented on #1777
This is way underpointed and needs significant thought to flesh this out.  This feels more like a parent issue for all streaming related issues.  Removing the size.

[2017-05-09 15:02] adamjarling commented on #1879
Pointing this currently at a 5, as some of the plugin documentation to bring into a Rails application is somewhat limited.   First approach is to re-use previously created mediaelement plugin.  If that doesn't work with current version of mediaelement, will need to create from scratch which will be significantly more work.

[2017-05-09 15:04] adamjarling commented on #1886
Pointing at a 3, assuming the mediaelement plugin will work with our Hyrax mediaelement player.

[2017-05-09 15:21] carrickr opened #1893 "Remove Metaprogramming from derivatives.rb in Hydra Derivatives"
### Description
Remove metaprogramming from derivatives.rb in Hydra Derivatives. To wit:
Remove from `CONFIG_METHODS.to` and replace with `delegate_to` instead.

### Done Looks Like
- Write an issue in the hydra_derivatives Github repository (https://github.com/samvera/hydra-derivatives) to request this change.

[2017-05-09 15:33] carrickr opened #1894 "Yardoc our ActiveEncode code in Hydra Derivatives"
Our new code is only partly Yardoced, do the rest of it.

[2017-05-09 15:38] carrickr opened #1895 "Check require statements in active_encode.rb within HydraDerivatives"
Specifically we may be double requiring 'active_encode', see if we can clean this up.

[2017-05-09 16:29] davidschober commented on #1893
@carrickr can you describe more what this solves, etc.

[2017-05-09 16:43] davidschober commented on #1880
@adamjarling can you do this work without somewhere to store the thumbnail? Or are you just moving the visual part.

[2017-05-09 16:47] adamjarling commented on #1880
@davidschober I'm not sure.  The idea was to begin work on this by attempting to use the existing mediaelement plugin.  I'm guessing that would provide the UI, at least as a starting point?  Once it seems the plugin is pulled in correctly, then we'll need to evaluate the functionality within the Hyrax environment.  Until either Jamie or myself start work on this ticket, not entirely sure what we'l

[2017-05-09 17:09] little9 commented on #1843
In my current branch you can link to a specific quality like this: `/#avalon/time/227,245/quality/Low`. To make a switcher work with the structure porition there would need to be a dropdown or links to change the links in the structure  section. So you click on High and then the links are changed to `/#avalon/time/227,245/quality/High`

[2017-05-09 17:59] bkeese commented on #1667
In R6, calling mediaobject.table_of_contents on a mediaobject with no table of contents returns [""], which doesn't evaluate to empty or non-present.

[2017-05-09 18:21] cjcolvar commented on #1667
I was wondering this...do any of our other fields work this way?  Seems like we might need to make some tweaks in https://github.com/avalonmediasystem/avalon/blob/master/app/models/concerns/media_object_mods.rb#L331-L337.

[2017-05-09 19:10] mcwhitaker commented on #1858
@davidschober @joncameron @adamjarling In Avalon r6 we show only one player at a time.  Are we considering the features of the current Avalon for this task or are we adding new features?

[2017-05-09 19:16] davidschober commented on #927
@cjcolvar you grabbed this as part of sprint 126 it looks like. I'll add it to the milestone.

[2017-05-09 19:17] cjcolvar commented on #927
:+1:

[2017-05-09 19:19] mcwhitaker commented on #1888
@carrickr IIIF-AV has the means to provide the sidebar information also if we want to, which is why I asked @jenyoung and @jlhardes what they want other players to show if they get a IIIF-AV manifest from avalon for an avalon item.

If they want other players to show more information that is available than just the minimal, we should add that to the IIIF-AV manifest that we generate for avalon ite

[2017-05-09 20:20] phuongdh opened #1896 "Clean up VPC's network interface when stack is deleted"
Currently security groups stack can't be cleaned up because the DBclient group has an attached network interface.

We need to write a script to detect the network interface. When you bring a stack up and down you have to manually delete the network interface. This was because we created a lambda that uses something in the VPC.

If it tries to delete the stack it gets stuck.

### Done looks like
Ne

[2017-05-09 22:06] davidschober commented on #1858
No new features. Avalon will have a single player.

[2017-05-10 13:16] joncameron commented on #1398
@cjcolvar @davidschober I don't think so. I'll close this and have it noted as a 5.x issue in the docs.

[2017-05-10 13:17] #1398 closed

[2017-05-10 13:39] #1449 closed

[2017-05-10 13:42] davidschober commented on #1777
Thanks @carrickr. This was pointed assuming that the IIIF manifest needs a URL to point to. Considering that, can we not put a pair (or triple) of video derivatives in s3 and use cloud front as our POC streamer? Currently @adamjarling and @little9 are pointing at a statically parked video/audio.

[2017-05-10 13:58] joncameron opened #1899 "Reference - Hyrax Embedded Video Player Possible Bug"
### Description
Reference ticket for work done on projecthydra-labs/hyrax#932

### Done Looks Like
- Verify config changes in the Hyrax issue resolve the problem
- Identify what needs to be done to fix the bug if not

[2017-05-10 14:22] lealeelu commented on #1850
Verified it returns aspect ratio. Since it's being run through mediainfo, we should expect the same results for aspect ratio as we've been getting with our current avalon.

[2017-05-10 14:57] #1583 closed

[2017-05-10 15:07] #1760 closed

[2017-05-10 15:07] #1271 closed

[2017-05-10 15:43] joncameron opened #1900 "Create Thumbnail For Video Item"
### Description

Recreate current functionality that creates a thumbnail from a stream for display.

### As a
Collection Manager

### So That
I can set the thumbnail image for a video.

### Done Looks Like

- Thumbnail button is wired up to create and store thumbnail
- Thumbnail is shown on front end.

#### Tasks
- [ ] UI Work #1880

[2017-05-10 16:00] davidschober commented on #1891
For this one an "Add items to playlist" which kicks off a search.

[2017-05-10 16:02] davidschober commented on #1871
@cjcolvar is this fixed with your current migration work?

[2017-05-10 16:05] davidschober commented on #1764
@bkeese or @cjcolvar is this still an issue or can this be abandoned?

[2017-05-10 16:07] davidschober commented on #1848
@joncameron can you help flesh out how immediate this need is? Is it something that can way for 7?

[2017-05-10 16:16] davidschober commented on #1773
@carrickr and @cjcolvar is any more breaking out necessary? I'd like to get this into the next sprint so we can start to make things a bit more real.

[2017-05-10 16:17] davidschober commented on #1843
@adamjarling and @adamjarling it looks like work has been started on this. Do we need to task it out more or is it ready for the next sprint?

[2017-05-10 16:58] adamjarling commented on #1843
@davidschober Sounds like this part is done, representing the quality in the URI hash.  Carrying forward, sounds like next step is to create the selection action in the UI.

[2017-05-10 17:01] davidschober commented on #1843
OK. Can you point that issue in during BB tomorrow?

[2017-05-10 17:02] adamjarling commented on #1843
Yea, will do.

[2017-05-10 17:59] cjcolvar commented on #1773
I'm having problems tracking exactly where this is at.  Looks to me like this ticket is the epic and #1821 and #1822 are the broken out tickets.  If that is the case it seems like we would need a ticket for the form and another for any search related changes.

I think it would be good to have a ticket writing/refining session on this epic per the new process.  Maybe we could do this tomorrow durin

[2017-05-10 18:00] cjcolvar commented on #1871
I don't know if this is still a problem.  I'll test it out myself.

[2017-05-10 18:02] davidschober commented on #1773
I agree. It seems to me we might want to use Hyku's image content type as a model.

[2017-05-10 18:12] cjcolvar commented on #1764
From the code it looks like this may be done.  Someone could try to reproduce it or we could just abandon it.

[2017-05-10 18:33] cjcolvar commented on #1871
I wasn't able to reproduce this with a fresh checkout of master skimming through the instructions here https://wiki.dlib.indiana.edu/display/VarVideo/Getting+Started+(OS+X).

[2017-05-10 19:36] phuongdh opened #1901 "Add missing roles and policy to CloudFormation"
### Description
Currently these are manually created:
aws-elasticbeanstalk-service-role
aws-elasticbeanstalk-ec2-role

They need these policies:
Role Name: aws-elasticbeanstalk-ec2-role
Role Type: Amazon EC2
Attach Policies:
  AWSElasticBeanstalkWebTier
  AWSElasticBeanstalkMulticontainerDocker
  AWSElasticBeanstalkWorkerTier

Role Name: aws-elasticbeanstalk-service-role
Role Type: AWS Elastic Bea

[2017-05-10 19:55] mcwhitaker commented on #1093
250 days of video - 20K to transcode all of that

[2017-05-10 19:55] #1093 closed

[2017-05-10 20:09] joncameron opened #1902 "Create Repository for AWS Templates"
### Description
Avalon templates currently living in MBK's personal repo at https://github.com/mbklein/aws need to be moved to a central, Avalon-owned location.

### Done Looks Like
Relevant code from https://github.com/mbklein/aws is given a home under the avalonmediasystem Github organization.

Decide whether to fork and branch or split completely.

[2017-05-10 20:10] davidschober commented on #1902
Note #1489 should be created at the same time.

[2017-05-10 20:15] joncameron commented on #1896
"Lambdas all the way down" - Phuong

[2017-05-10 20:19] davidschober commented on #1249
Abandoned. This isn't currently an issue.

[2017-05-10 20:19] #1249 closed

[2017-05-10 20:20] #834 closed

[2017-05-10 20:21] davidschober commented on #1254
Lyrasis should handle this. It will fold into whatever billing and stats dashboard they offer.

[2017-05-10 20:22] #1254 closed

[2017-05-11 13:33] joncameron opened #1903 "Port Player API to 5.x"
### Description
Work done in #1271 needs to be ported to Avalon 5 so that it is available to current 5.x. Once ported we'll most likely release 5.1.7.

### Done Looks Like
Player API functionality done as part of #1271 is ported to 5.x.

- [ ] Cherry-pick player API commit(s) into 5.x

[2017-05-11 14:00] mcwhitaker commented on #1764
@cjcolvar In the original ticket, Brian does say that the code implies that things are handled gracefully, but that something was probably not working as expected as we were getting the error page.

@davidschober @joncameron I don't recall this being worked on.

[2017-05-11 14:18] adamjarling commented on #1841
@davidschober @joncameron If you guys want to schedule a 15 minute BlueJeans meeting today or tomorrow, I can demo this for 'Review'.

[2017-05-11 14:23] joncameron opened #1904 "Migrate Units"
### Reference Issue
#1763
Adding the fix  in #1763 into the 5 to 6 migration.

### Done Looks Like

[2017-05-11 14:24] davidschober commented on #1763
At some points we will have a controlled vocabulary YAML file that is locally. There will be a display value and a URI. This is not going to be handled in migration. It is a relatively small  set that will...

[2017-05-11 14:36] davidschober commented on #1854
Currently it stores:
Notes:

* Duration
* Height
* Width
* We need to adjust for access ratio
* We  should store bitrate

We need to run a test with some other metadata types

This is an upstream hyrax change.

[2017-05-11 14:41] #1817 closed

[2017-05-11 14:44] joncameron opened #1905 "Documentation for Avalon Metadata to IIIF-AV Manifest"
### Description
Having a wiki page to document how we map our internal metadata to a IIIF-AV Manifest

### Done Looks Like
- [ ] Wiki page created to be a home for this content
- [ ] Content written

[2017-05-11 15:06] davidschober opened #1906 "Start conversation with Hyku team about video work type"
### Description
Whether we need to create a new work type for video or add to the existing generic work type is yet to be determined. A conversation with the Hyku team about their current plans will help us plan for what direction makes best sense for Avalon.

### Done Looks Like
- [ ] Figure out where video lies on road map
- [ ] what are their needs in Hyku
- [ ] start to answer question generic

[2017-05-11 15:25] davidschober opened #1907 "Discuss UX/UI issues"
## Description

Karthik has started a wiki page noting odd ui/ux behavior. Adam and Kathik will get together to discuss and how to solve them, generate issues etc.

## Tasks
- [x] meeting takes place (on or off)
- [x] issues generated

[2017-05-11 16:04] davidschober commented on #1884
The docs look good. @joncameron I'm closing, reopen if you need more.

[2017-05-11 16:04] #1884 closed

[2017-05-11 16:05] davidschober commented on #927
@cjcolvar it looks like this got merged in, this is done, correct?

[2017-05-11 16:11] davidschober commented on #1842
@adamjarling this is looking done, correct? Do you want to check off those boxes and close it out? I'm not sure if we documented the approach.

[2017-05-11 16:12] #1842 closed

[2017-05-11 16:22] davidschober commented on #1841
Let’s do it now if you’re around.

[2017-05-11 16:23] davidschober commented on #1764
OK. I think the goal is clear. We will try to recreate it and fix if it bugs out. @cjcolvar do you want to take a stab at pointing?

[2017-05-11 16:52] davidschober commented on #1852
There will only be one player at a time.

[2017-05-11 16:59] davidschober opened #1909 "Break out audio page on a separate page"
### Description
Currently audio and video on the same page on hyrax home-page content. We need to break this work out into separate pages because things get buggy when we start to switch sections, etc.

### Done looks like

- [x] audio is broken out on a separate page
- [ ] Sections on audio POC work
- [x] Sections on video POC work

[2017-05-11 17:47] cjcolvar commented on #927
I was leaving this open because documentation hasn't been written yet.

[2017-05-11 18:24] carrickr opened #1911 "Carrick at Hyrax Training 15 May - 18 May"

[2017-05-11 18:25] carrickr opened #1912 "Carrick OOO May 25 and May 26"

[2017-05-11 19:03] davidschober commented on #1841
Reviewed. Audio player is playing. We will break it out into it's own page to deal with bugginess due to having two players.

[2017-05-11 19:04] #1841 closed

[2017-05-11 19:04] davidschober commented on #927
Sounds good.

[2017-05-11 19:05] davidschober commented on #1874
@mbklein you demoed this to me. I'm good with calling it complete.

[2017-05-11 19:47] adamjarling commented on #1841
@davidschober @joncameron https://bluejeans.com/s/TwiR6/

[2017-05-11 21:41] mcwhitaker commented on #1758
@Karthikeya212 Could you please try to reproduce and add the _steps to reproduce_  to the description of this ticket?

[2017-05-11 21:46] mcwhitaker commented on #1758
@Karthikeya212 The steps are in #1686. It looks like we closed #1686 because we could not reproduce it. I wonder if this is still a problem.

[2017-05-11 21:54] davidschober commented on #1758
I think this should have been closed at the same time. @Karthikeya212 if you can give it one more shot, and assuming we can't reproduce, feel free to close.

[2017-05-12 12:46] joncameron commented on #1856
I'd like to talk with devs about the tasks on this one before I feel it's ready for prime time.

[2017-05-12 13:08] joncameron opened #1913 "Write Manual Install Instructions for Avalon 6.x on RHEL7"
### Description
As an Avalon installer, I want manual installation instructions for the current version of RHEL.

### Done Looks Like
Installation instructions are available on the Avalon documentation wiki that are appropriate for fresh Avalon 6 installs in a vanilla RHEL7 environment.

[2017-05-12 14:56] joncameron opened #1914 "IU Production Issues (40)"

[2017-05-12 15:09] #1850 closed

[2017-05-12 15:10] davidschober opened #1915 "Push PR on FITs Config"
Determine what needs to be in a PR for fits to handle .ogg container for video.

## Done looks like
Fits can handle .ogg containers for video by default.

## Tasks
- [ ] Create PR for config change.
- [ ] Do what's needed to make sure it's accepted.
#1850

[2017-05-12 15:10] #1874 closed

[2017-05-12 15:11] #927 closed

[2017-05-12 15:11] #1860 closed

[2017-05-12 15:12] davidschober opened #1916 "Write docs for multi-threaded migration tool"
### Description
As a system administrator I want documentation on how to safely run migration tasks with multiple threads.

### Done Looks Like
Documentation is written for the multi-threaded migration. Ticket for creation of that: #927.

### Tasks
- [x] create documentation for users on how to tune so they don't blow up machine by spawning Fedora and SOLR threads.
- [x] Explain parallel_processes

[2017-05-12 15:12] #1853 closed

[2017-05-12 15:12] #1855 closed

[2017-05-12 15:16] cjcolvar commented on #1827
https://github.com/projecthydra/hydra-derivatives/pull/161

[2017-05-12 15:25] joncameron commented on #1899
We'll turn this more into an investigative ticket. It's been confusing to people so far regarding getting ffmpeg working and ingesting video in hyrax.

[2017-05-12 19:35] cjcolvar commented on #1541
@joncameron @davidschober Do we need to backport this to 5.x?

[2017-05-12 19:37] cjcolvar commented on #1433
I think we should backport this so people can run the data migration prior to the 6.0 migration to avoid having to do an ugly rerun of a rails migration.

[2017-05-12 20:41] cjcolvar commented on #1608
I think this may have been fixed, but I'll verify when we test migrate IU's production content.

[2017-05-15 13:24] joncameron commented on #1541
@cjcolvar @davidschober It doesn't, and I've removed the 5.x tag. I think that tag is a carry-over from when the issue was created.

[2017-05-15 13:25] joncameron commented on #1541
@cjcolvar @davidschober It doesn't, and I've removed the 5.x tag. I think that tag is a carry-over from when the issue was created.

[2017-05-15 13:59] joncameron opened #1920 "Unable to Import Dropbox Item in Collection With Name Containing '?' Character"
### Description
If a collection name contains a question mark, attempting to import a file from the collection's dropbox fails and Rails throws an error.

### Environment
Mallorn, 6.0.1. Originally encountered on 5.1.6, and also affects 5.x.

### To Reproduce
- Give a collection a name containing the "?" character
- Put a media file into the dropbox for the new collection
- Attempt to use the "Imp

[2017-05-15 14:32] cjcolvar commented on #1920
I think we just need to strip out the ? or replace it like we do for other special characters when we create the server side directory.  https://github.com/avalonmediasystem/avalon/blob/master/lib/avalon/sanitizer.rb#L17

[2017-05-15 19:29] #1869 closed

[2017-05-16 13:24] cjcolvar opened #1924 "Move noid minter to DB"
We use active_fedora-noid to mint identifiers for our Admin::Collection, MediaObject, and MasterFiles.  This by default writes the minter's state to a file at /tmp/minter-state.  The file's location is configurable but a more robust solution is to use the DB-backed minter.  Currently this would require a customization (and not just configuration).

Tasks
- [x] Run generator: `rails generate active

[2017-05-16 13:26] mcwhitaker opened #1925 "IU Production Issues (12)"

[2017-05-16 14:24] cjcolvar commented on #1856
@joncameron We think this is tasked.  Ping us if you have any questions.

[2017-05-16 14:45] lealeelu commented on #1778
@joncameron @davidschober Is this tasked enough for you two and is 2 points good?

[2017-05-16 14:48] lealeelu commented on #1887
@adamjarling, It looks like this is in progress. Do you want to move it to in progress or is this on hold?

[2017-05-16 14:50] bkeese commented on #1851
@mcwhitaker Is this done? Also, what does published mean?

[2017-05-16 14:50] adamjarling commented on #1887
Yes, it's in progress.  Feel free to move into the appropriate column.  Thanks!

[2017-05-16 14:52] joncameron commented on #1778
Thanks @lealeelu. David and I will talk to finish the task list and done criteria before we mark it fully tasked. In the future you can skip over anything assigned to me and @davidschober as we'll take care of writing and tasking it.

[2017-05-16 15:02] mcwhitaker commented on #1887
@adamjarling Do you think you will get to this during this sprint? I think the reason why it was not "in progress" was because we concluded you had other things to work on this cycle.

[2017-05-16 15:06] mcwhitaker commented on #1851
@bkeese No, this is not done.

@davidschober What do you mean by "published"?

[2017-05-16 15:06] adamjarling commented on #1887
@mcwhitaker Actually this functionality is pretty much done, at least for the video player.  @little9 set up a recursive function to parse the manifest 'structures' which will display the links.  Once we split the audio and video players into their own 'pages' this functionality either will work immediately with the audio player, or just take a little bit of work to make functional.  I think we ca

[2017-05-16 15:07] davidschober commented on #1851
I just meant it somewhere public that our POC player can consume. I'll tweak it.

[2017-05-16 15:09] mcwhitaker commented on #1887
@adamjarling The audio example we have with 2 sections is not working properly. Clicking the links related to section 2 still move the player cursor in section 1. See http://96665a02.ngrok.io/demo/audio/#avalon, which is the demo Jamie put together for me with audio and video on separate pages.

[2017-05-16 15:10] davidschober commented on #1851
@bkeese is that a bit more clear.

[2017-05-16 15:13] adamjarling commented on #1887
@mcwhitaker Yes, seems right that the audio player will take some work to make functional as I mentioned above.  I haven't seen the audio player split into it's own page yet, or pulled down the latest branch codebase.  Do you want me to work on this now?

[2017-05-16 15:14] mcwhitaker commented on #1887
@adamjarling Not necessary, thank you. I will mention while demoing that this is a work in progress.

[2017-05-16 15:17] adamjarling commented on #1887
Ok sounds good.  I'm close to wrapping up the NU Avalon UI, and aiming to hop back into this audio issue (and other Hyrax player work) tomorrow w/ Jamie.

[2017-05-16 15:17] little9 commented on #1909
I did this yesterday so that @mcwhitaker could demo this today.
https://github.com/avalonmediasystem/avarax-poc/commit/3c536322b9de5d7d2d1d875ef08ec57dcab9a800

The sections on the audio POC work for the first track, but not the second track.

[2017-05-16 15:20] little9 commented on #1887
I'm going to need to spend some time thinking about the different possibilities that the manifest might have.

- For video there is basically one file, which may have multiple quality derivatives.
- For audio there can be multiple files (tracks) that each have multiple quality derivatives.

Do video resources ever have something like the equivalent of tracks?

[2017-05-16 16:58] mcwhitaker commented on #1887
@adamjarling You can have multiple files for video as well. And we can have one audio and one video file (or multiple audio and video files) for an Avalon work -- see #1851.

And Video may have structural metadata also, which should be used for navigation as well.

Basically, the only difference between audio and video is the media format.

[2017-05-16 18:52] mcwhitaker commented on #1887
@little9 Another difference is 3 derivatives for video (H,M,L) and 2 for audio (H,M).

[2017-05-16 19:08] Karthikeya212 opened #1927 "Bulk actions are working only on first 10 items irrespective of number of items selected"
### Descriptive summary
Server: spruce.indiana.edu
Testing: Exploratory
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Bulk actions Delete/Move/UpdateAccessControls/AddToPlaylist are working only on first 10 items irrespective of number of items selected

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior
1. Login t

[2017-05-16 19:11] Karthikeya212 commented on #1927
Publish/Unpublish are working fine with more than 10 items. It may be because these two actions are not triggering any requests for a pop-up or a new page like the other 4 options Delete/Move/UpdateAccessControls/AddToPlaylist.

This issue is not seen in R5

[2017-05-16 19:18] cjcolvar commented on #1927
This is probably a bug that comes up because Blacklight/rsolr default to 10 results.  We need to track down where we need to reconfigure it and write a test to prove that it is fixed.  Probably 3 points.

[2017-05-16 19:44] mcwhitaker commented on #1927
@cjcolvar I wonder if the configuration you are looking for is this:

https://github.com/avalonmediasystem/avalon/blob/dd9ea47de0fb4cc3bc2503b0b414e98fd2ea48ae/app/controllers/catalog_controller.rb#L38-L43

[2017-05-17 13:31] bkeese commented on #1433
We decided to implement this in a way (rake task) such that we don't need to run it prior to the migration. So there's no need to port this back to 5.x.

[2017-05-17 14:34] davidschober opened #1929 "Create Repository for Standalone IIIF-AV Player Javascript"
## Description

Currently the IIIF player javascript code is tightly coupled to our Hyrax POC repo. The IIIF community would like to look at (and possibly take ideas from) our work. In order to facilitate this, we should extract the javascript player code. The ultimate goal is to make it a component like our other media-element work.

As an added bonus, we can showcase and test the player using si

[2017-05-17 14:45] davidschober opened #1930 "Move player to work display page and allow arbitrary IIIF manifests (POC)"
## Description

Currently our IIIF POC player is hijacking an "about" page in Hyrax. In order to offer more flexibility while the team creates a 'ready for prime time' video content work (or generic work) that can create a IIIF manifest, we would like to create a stripped "POC" work type that has a metadata field pointing to a static IIIF Manifest. The view would use the manifest field to generate

[2017-05-17 15:00] joncameron commented on #1871
@cjcolvar I'm going to close this since you weren't able to reproduce.

[2017-05-17 15:02] #1871 closed

[2017-05-17 15:11] davidschober opened #1931 "Structural Metadata Editor - UI Discussion"
## Description

We need to make a decision about how structural metadata will be edited within a hyrax-driven environment. Currently our structural metadata editor is a quick and dirty xml editor. The schema currently: https://github.com/avalonmediasystem/avalon/blob/dd9ea47de0fb4cc3bc2503b0b414e98fd2ea48ae/public/avalon_structure.xsd

An ideal solution would be to have editable fields associated

[2017-05-17 15:16] davidschober commented on #1846
Related to #1931

[2017-05-17 15:20] bkeese commented on #1931
Our current editor does have a graphical interface option that sounds like what is described here. It's a bit clunky though and might only serve as an example of what we want and don't want. To see it, just click the "Graphical" button within the editor.

[2017-05-17 15:23] davidschober commented on #1810
per discussion with @joncameron it may be enough to use Hyrax's out of the box one step workflow and put it on the adopter to use a more complex workflows as necessary.

[2017-05-17 15:39] davidschober commented on #1831
@mcwhitaker and @joncameron this looks pretty ready to go, right? If so, can we move to  ready for tasking?

[2017-05-17 15:44] #1927 closed

[2017-05-17 17:36] joncameron commented on #1764
This should get tested in 6.x before we proceed with it. I wrote this for 5.x and it should be verified by Karthik in 6.x before we proceed.

[2017-05-17 17:42] joncameron commented on #1831
@davidschober I think it's ready for tasking—I'll pull it over to ready.  @mcwhitaker please feel free to pull it back if there's more that needs to be added.

[2017-05-17 18:38] joncameron commented on #1848
This isn't an immediate need, but I'd like it to stay in the backlog. This was written from a user need at IU and is less pressing than other playlist-related refinements.

[2017-05-17 18:40] cjcolvar opened #1932 "Error should be thrown if ActiveEncode job doesn't receive id"
The encoding creation job blindly tries to update the masterfile using the new encode job and spawns the progress update jobs but they don't do anything since they can't find the ActiveEncode job.  We should probably throw an error or handle it in a way that makes it visible to the user and administrators.

### Related Issue
#2060 Failure to create ActiveEncode job returns unrelated job's metadata

[2017-05-17 18:41] joncameron commented on #1858
Yes, the mediaelement player itself in the page should be able to switch between audio and video as needed—like on the playlist view when both types of media are present as playlist items, or on an object that may have both types of media as different sections.

[2017-05-17 18:49] cjcolvar opened #1933 "LDAP group names with spaces breaks searches including home page"
LDAP groups that have a space in them lead to a 500 due to a malformed solr query.  We ran into this before and fixed it but I can't seem to find the information about that fix.  I'm seeing this on sodium but not on pawpaw or palm.

[2017-05-18 13:05] mcwhitaker commented on #1831
@joncameron @davidschober This is in progress already. I will mark it as such after noting in the description that it is being done differently than originally proposed.

[2017-05-18 13:27] jlhardes commented on #1433
I tried this with the item mentioned above and another harp competition item and both import calls brought in the related item URL with the "Program" text as the link. Does this need to be tested via batch import as well?

[2017-05-18 13:30] jlhardes opened #1935 "MODS contains a lot of extra empty elements"
MODS for items on spruce contain a lot (sometimes A LOT) of extra empty MODS elements. For some elements (physicalDescription), this is making the MODS not valid.

## Done looks like

- Mods should be valid
- There should not be empty elements
- when you create or edit items empty elements should not be created

## relates to
It might be related to:

#1837

### Tasks
- [ ] Isolate issue and fix
-

[2017-05-18 13:34] bkeese commented on #1433
Batch uses the same xsl, so probably not necessary to test it.

[2017-05-18 13:46] jlhardes commented on #1935
These are all 3 items in the "Jules test" collection on spruce.
[descMetadata.zip](https://github.com/avalonmediasystem/avalon/files/1011066/descMetadata.zip)

[2017-05-18 13:52] bkeese commented on #1935
I wonder if this was caused by the empty string bug we fixed recently. https://github.com/avalonmediasystem/avalon/pull/1898/files

[2017-05-18 13:54] mcwhitaker commented on #1764
@Karthikeya212 Please note comment by @joncameron on this ticket requesting that you test this in 6.x

[2017-05-18 13:57] davidschober commented on #1831
Sounds good. Thanks!

[2017-05-18 14:11] jlhardes commented on #1935
Is that fix on spruce? These are items I just created so if that fix helps with this then these new MODS records shouldn't haven't all of those extra fields, right?

[2017-05-18 14:18] bkeese commented on #1935
It is on spruce, so I guess something else is causing this. Boo.

[2017-05-18 14:22] davidschober opened #1936 "Determine how to store structural metadata"
## Description

In the move to hyrax, we have the opportunity to revisit how we store structural metadata. Currently it's stored as an attached xml file . Do we continue down this path or find a new one.

Should we back up to work level, interfile, etc.

This is related to #1360

this breaks out #1931

## Done looks like

- a decision is made about how to store structural metadata
- OR other issue

[2017-05-18 14:41] davidschober opened #1937 "Create stand-alone app showcasing IIIF player"
## Description

Based on work in #1929, create app (single web page) that showcases our parsing of a manifest.

It should have:
- A player
- Clickable structure
- Basic controls
- A field to input an arbitrary manifest URL

## Done looks like
- A standalone player app can be hosted anywhere (e.g. github pages) for ease of demoing
- QA on page verifying player works, clickable structure works, and

[2017-05-18 14:50] joncameron commented on #1930
This will be a throwaway thing meant for demos rather than a path we'll take.

[2017-05-18 16:30] davidschober commented on #1930
Note, I'm not married to creating a new work type. If there's another way to handle this let's do it. The goal is the same, quickly test out different types of manifests, and get to working on the front end.

[2017-05-18 17:14] jlhardes opened #1938 "Migrated items showing Fedora4 URL as Other Identifier"
Migrated items that don't have bib import as the source for descriptive metadata are showing a 127.0.0.1 Fedora4 URL for the item as an Other Identifier with no label. The MODS contains this info only as `<recordIdentifier>` so it shouldn't be coming through in the UI as Other Identifier.

[2017-05-18 17:17] jlhardes commented on #1938
Screenshot of UI attached:

![screen shot 2017-05-18 at 1 11 22 pm](https://cloud.githubusercontent.com/assets/3440166/26214874/00e4de3c-3bcc-11e7-9bd7-6c4a2c360026.png)

And screenshot of MODS XML:

![screen shot 2017-05-18 at 1 16 56 pm](https://cloud.githubusercontent.com/assets/3440166/26214949/57d017d4-3bcc-11e7-8263-1edc18845136.png)

[2017-05-18 17:29] joncameron commented on #1764
Karthik has tested this and it is a problem in 6.x and should be fixed there.

[2017-05-18 17:35] cjcolvar opened #1939 "Objects that already have a migration status of waiting should be skipped during migration first pass"
This is really needed when a migration fails for any reason and needs to be restarted.  This way the whole migration of MediaObjects doesn't have to happen again.

[2017-05-18 17:56] adamjarling commented on #1909
Working on fixing the 2nd track for audio now.

[2017-05-18 18:07] Karthikeya212 commented on #1764
Just to note, if there is a new page created to display proper error message, make sure to check the below issue as well.

After the user is navigated to the error page, if he clicks back button on the browser and either (i)refreshes the page or (ii)clicks on Playlist link which eventually refreshes the page, a success message is displayed on the page though the playlist import failed.

![variatio

[2017-05-18 19:09] davidschober commented on #1773
@cjcolvar and @joncameron this is represented in other, smaller issues, so this can be abandoned now correct?

[2017-05-18 19:18] cjcolvar commented on #1773
@davidschober I think the questions is do we want to have an issue which tracks an epic or have that be captured purely by labels?

[2017-05-18 19:18] davidschober commented on #1725
@phuongdh is this made redundant by #1489?

[2017-05-18 19:22] davidschober commented on #1773
I think it's OK if a story is broken into smaller and smaller tasks to close out, otherwise we may end up with a few orphans. Especially as stories often change as we get into the nitty gritty (like this one did). If it's represented by the others, we should be OK. (although we should remove the points).

[2017-05-18 19:24] davidschober commented on #1938
Thanks! @jlhardes I'll move this to the top of "needs refinement". Does someone want to take a crack at pointing it so we can get it quickly to ready? Developers feel free to discuss and point so we can move it to ready.

[2017-05-18 20:47] bkeese commented on #1938
@jlhardes The issue appears to be that we're using the MODS recordInfo/recordIdentifer to store both bibliographic_ids and now another recordIdentifier with source=Fedora4.
The UI includes bibliographic_ids in the list of Other Identifiers.
We can exclude recordIdentifiers with source=Fedora4 from the bibliographic_id list. That would keep it from showing up in the UI as one of the other identifie

[2017-05-18 20:53] cjcolvar commented on #1935
It looks like this is only related to bib import from what I can tell.

[2017-05-18 20:56] cjcolvar commented on #1935
@jlhardes Could you please verify that this isn't a problem with new objects on spruce that do NOT use bib import?

[2017-05-18 21:08] jlhardes commented on #1935
There's still a lot of empty <physicalDescription> even in this item that I just created and didn't use bib import.

![screen shot 2017-05-18 at 5 07 52 pm](https://cloud.githubusercontent.com/assets/3440166/26223558/a7f5d080-3bec-11e7-97aa-8d9dfaa4c0d6.png)

[2017-05-18 21:17] #1933 closed

[2017-05-18 21:43] adamjarling commented on #1909
@little9 I think we'll need to account for situations in the hash handler and clicking on playable sections/ranges, where there is more than one canvas in a manifest.

Check out the audio manifest.  Should we add a canvas param to the hash handler implementation, to know what canvas media file the player should play?

Or we keep track of the current canvas (first element in array when the page loa

[2017-05-18 22:00] adamjarling commented on #1851
Hi @mcwhitaker @bkeese @little9  Just curious, in the following audio manifest ( https://raw.githubusercontent.com/avalonmediasystem/avarax-poc/feature-quality-selector/app/views/demo/iiifavaudio.html.erb ), should the non *.mp4 "id" key URL values resolve, or provide any data?    The '..... .mp4' files return content which the player can play, however some of the other URLs re-direct and don't re

[2017-05-19 14:12] #1909 closed

[2017-05-19 15:58] jlhardes commented on #1938
@bkeese that sounds great!

[2017-05-19 16:08] mcwhitaker commented on #1851
@adamjarling @bkeese @little9

I have done some reading about this. Based on the IIIF documentation, the other IDs should resolve. For instance, in your example the id "https://dlib.indiana.edu/iiif_av/mahler-symphony-3/canvas/1" should resolve to this information:
[code]
This is the part of the manifest that contains the information for the canvas named 1. So it is redundant information, but it m

[2017-05-19 16:35] adamjarling commented on #1851
Thanks @mcwhitaker That makes sense what it'd return.  @little9  and I just spoke and walked through a few scenarios, and we'll update the player js to accommodate multiple canvases in a manifest.

So for an example, say in a supplied manifest an audio canvas is the first element in the 'canvases' array.  The UI will display a Mediaelement _audio_ player initially.

Say the second element in 'canv

[2017-05-19 17:02] mcwhitaker commented on #1851
:thumbsup:

[2017-05-19 17:23] mcwhitaker commented on #1907
Link to the Usabillity/UX notes from @Karthikeya212 : https://wiki.dlib.indiana.edu/pages/viewpage.action?pageId=525145959

[2017-05-19 17:44] joncameron opened #1942 "Shibboleth Support in Avalon AWS"
### Description
We'll need to be able to support shibboleth authentication for users running Avalon in the cloud. This is due to Avalon running on a different domain (lyrasis.net or something similar, for example) than what an institutions SSO would be using.

### Done Looks Like
- Avalon in AWS can use Shibboleth as a means of authentication
- Allow users to initialize a configuration for Shibbol

[2017-05-19 19:53] bkeese commented on #1935
titleInfo[@usage='primary'] also is repeated

[2017-05-19 21:44] mcwhitaker commented on #1553
@joncameron This would be covered by work done on enhancement request #1849

[2017-05-19 21:47] mcwhitaker commented on #1849
See also #1553.

[2017-05-19 21:52] mcwhitaker commented on #1538
@joncameron I think this Epic should be rephrased. What the user wants is a better/faster/easier way to find and navigate to a playlist among numerous playlists.

[2017-05-22 13:40] bkeese commented on #1935
Every time the resource description page is saved, a new empty titleInfo element is added to MODS.

[2017-05-22 14:45] mcwhitaker opened #1943 "As a user, I want to be able to add all tracks of a CD to a playlist at once"
### So that
I don't have to add track by track.

### Items for Discussion
- Should this happen via some action on the Media Object page, like a helper button?
- Should this be per-section or per-media object?
- Should this also be available in _bulk actions_?

### Done looks like
-  A user has the ability to add all segments of a section to a playlist in one step.
- The structural metadata is used

[2017-05-22 19:19] #1903 closed

[2017-05-22 19:19] #1911 closed

[2017-05-22 20:28] joncameron opened #1945 "Investigate Player API Usable on iFrames with Redirect URLs"
### Description
As a developer, I want to use the Avalon Player API on embedded content where the iframe source is a redirect URL.

### So That
The embedded player can be controlled with the Avalon Player API.

Configuring Avalon to assign a permanent URL (e.g. PURL or Handle) is a standard feature many implementers use to refer to objects so references aren't lost in namespace changes for PIDs—fo

[2017-05-23 14:15] cjcolvar commented on #1503
@davidschober @joncameron Is there a ticket for updating the Collection Managers Guide for 6.x? https://wiki.dlib.indiana.edu/display/VarVideo/Avalon+Collections+Guide

[2017-05-23 14:17] carrickr commented on #1931
I did task this out, but honestly it seems like we could split this into multiple tickets.  This could remain as the parent perhaps.

- One for a group of people to review the current editor and current Hyrax fielded data editors (that might inform the design for ours)
- one for developers to review UI design patterns
- one for designers to generate wireframes

This also feels a bit small at 3 con

[2017-05-23 14:18] joncameron commented on #1503
@cjcolvar @davidschober There isn't, but this would be a great task for Matthew to work on. He's already spent a lot of time cleaning this page up, so I'll just task him with changing references and updating as needed. I don't think I'll go as far as creating a ticket but if there are things you've noticed specifically please feel free to send him a Slack message.

[2017-05-23 14:25] adamjarling opened #1946 "Hyrax Media Player - Extend hash handler to include current canvas"
### Description
Extend the Hyrax player's hash handler solution to represent currently selected canvas in the URI.

### Done Looks Like
- Standalone player displays currently selected canvas index in URI.
- Standalone player responds to an update in the canvas index in URI.

### Tasks
- [x] Add canvas key/value pair to hash handler class.
- [x] Implement and test that the UI player updates when ca

[2017-05-23 14:28] carrickr commented on #1826
This is tasked, but  as noted above, can be broken up.   We should probably repoint after that to try to get this under eight.

[2017-05-23 14:28] cjcolvar commented on #1758
@davidschober @joncameron It looks like we need a story to update the Known Issues page for 6.x

[2017-05-23 14:48] joncameron opened #1947 "Update Known Issues Page for Avalon 6.1"
### Description
As a user, I want to know what bugs or unexpected behaviors are present in Avalon's latest release.

The Avalon [Known Issues](https://wiki.dlib.indiana.edu/display/VarVideo/Known+Issues) documentation lists issues within the application that users should be aware of. This page needs to be updated for each major or minor version release.

### Done Looks Like
- Relevant known issues

[2017-05-23 14:50] joncameron commented on #1758
@cjcolvar @davidschober Thanks Chris, I've created #1947.

[2017-05-23 15:19] cjcolvar commented on #1503
@joncameron The main thing I'm thinking of including that might need to new content instead of tweaking is the ids and anything pertaining to migration.

[2017-05-23 16:00] Karthikeya212 commented on #1832
please add any additional parameters or performance scenarios that you feel are important to consider.

[2017-05-23 16:28] carrickr opened #1948 "In Chrome, the Avalon Player does not ask to run"
In Chrome (known to occur in 58.0.3029.110), when Chrome is set so that Flash needs to ask before running, Avalon does not ask to run flash.  Rather Chrome just fails to run.  For additional info see the work around documentation on it:
https://github.com/avalonmediasystem/avalon/wiki/Streaming-Media-in-Chrome-(Avalon-4,-5,-and-6)

As noted by @bmquinn, there is web console chatter on this
[code]

[2017-05-23 16:30] davidschober commented on #1948
@joncameron we may have to do a quick patch back to 4 as we're still in production for a couple of weeks. ) If this becomes too cumbersome, I'm OK with patching to 5.

[2017-05-23 16:56] carrickr commented on #1948
As a note to POs, if you go to http://get.adobe.com/flashplayer/about/ you should get a Chrome message about blocking flash.  When you click on that message and then select `Manage Exceptions`, you're taken to the exceptions page with zero context.  So it's not exactly awesome for users and we should document that.

[2017-05-23 17:42] davidschober commented on #1937
This looks great. I noticed it's not playing in Safari. If that's too tricky, let's put a note at the top for now.

[2017-05-23 18:33] phuongdh commented on #1800
The plan
![image](https://cloud.githubusercontent.com/assets/1304657/26370074/b3b0d97a-3fc4-11e7-9370-303917ca9e3c.png)

[2017-05-23 20:53] #1901 closed

[2017-05-24 15:48] adamjarling commented on #1907
@davidschober @joncameron  Just had a great meeting with @Karthikeya212 and @mcwhitaker going over the QA Observation List.   All the items seem manageable, and could improve the UI/UX significantly.

Next step may be to share @Karthikeya212 's document with you both, and get a game plan for how to implement.   I think sooner the better.  Ballpark guesstimate: all 19 items I could probably impleme

[2017-05-24 15:49] davidschober commented on #1907
Excellent. We’ll look through these and get them on the road map for next month possibly?

[2017-05-24 15:50] adamjarling commented on #1907
@davidschober Yes, we should aim for the next month.  They'll help clean up NU Avalon, and IU Avalon (I imagine) implementations as well.

[2017-05-24 20:34] davidschober commented on #1821
@carrickr aren't the metadata folks using mods to describe our content? I'm a bit confused on how we can use a generic work type.

[2017-05-24 20:41] davidschober commented on #1775
Abandoning... this was broken int #1854 and #1856

[2017-05-24 20:42] #1775 closed

[2017-05-24 20:42] davidschober commented on #1775
#1857 too.

[2017-05-24 20:43] davidschober commented on #1948
We decided to abandon this. I believe. We will update NU's warning as a stopgap for 4.0

[2017-05-24 20:47] davidschober commented on #1899
@cjcolvar did this get cleared out?

[2017-05-24 21:08] davidschober commented on #1832
@joncameron are we pretty much done?

[2017-05-24 21:41] jlhardes commented on #1821
Maybe #1808 needs to happen before this issue is tackled or abandoned?

[2017-05-24 22:22] davidschober commented on #1821
@jlhardes I agree.

[2017-05-24 23:03] jenyoung opened #1949 "Update testing scratch pad"
Changes to the testing scratch pad:

**Server Info Tab:**

Report bugs here:  https://bugs.dlib.indiana.edu/browse/VOV-4850 -- Should it be https://github.comn/avalonmediasystem/avalon/issues ?

**Full Script Tab**
Different test batches for NU & Indiana? - NU refers to old server on Server Info tab, Step 5 on Fulls script refers to Google Drive tar.gz file

[2017-05-25 13:23] joncameron commented on #1832
@davidschober Yep, attached is the Word doc updated with the relevant values and a few things added.
[performance_metrics-2017-05-25.docx](https://github.com/avalonmediasystem/avalon/files/1029064/performance_metrics-2017-05-25.docx)

[2017-05-25 13:23] #1832 closed

[2017-05-25 13:36] mcwhitaker commented on #1832
@joncameron @davidschober Regarding your comment on "Maximum supported number of active users for mallorn" - "Depends on infrastructure?"

Yes, this depends on infrastructure, which is why we specify "mallorn". That is the infrastructure we are assuming for our testing (or the mallorn-equivalent for an avarax instance).

I believe 500 is too high based on my testing of our MCO instance. MCO is in

[2017-05-25 13:39] mcwhitaker commented on #1832
@Karthikeya212 We need to update the last paragraph of this document. The strategy to recreate the testing collection has changed. Could you please do that before we can close this ticket? Thank you.

[2017-05-25 13:44] mcwhitaker commented on #1832
@davidschober @joncameron - Should @Karthikeya212 move this to the avalon wiki, internal documentation section? It is better then an attachment to a github issue, I am thinking.

[2017-05-25 13:45] davidschober commented on #1832
That sounds like a great plan. I’m also OK with lowering the active users. Jon and I kinda threw a dart at that one (I’d need access to analytics to make a hard call). Can we put a note in about the hardware we’re running?

[2017-05-25 14:08] #1925 closed

[2017-05-25 14:18] davidschober opened #1950 "Investigate what to do with Other Identifiers information"
This breaks out #1837 (What to do with bib import records)

We think we have to deal with "other identifiers differently. In order to keep moving, we broke this out to deal with it separately.

### Description
Other Identifiers should not be overwritten during a bib import action. Items added to Avalon (in batch or migration) sometimes will have local identifiers that are not part of a bibliograph

[2017-05-25 14:18] davidschober commented on #1837
Scope the fix to replace **all old fields** other than Other Identifiers.

We will break out Other identifiers into a separate story

[2017-05-25 14:21] joncameron opened #1951 "Standardize User-facing System Messages"
### Description
As a user, I want to have the same message informing me of an error, warning or confirmation prompt.

### Done Looks Like
Create a mapping object that keeps track of standardized error message text.

### Images of Current Warning and Error Messages
![26893840-98e3b316-4b8a-11e7-86e9-199b20a0a625-2](https://user-images.githubusercontent.com/1406618/26992049-e73f81ba-4d2a-11e7-8626-f

[2017-05-25 14:24] davidschober commented on #1935
This might be connected to #1837

[2017-05-25 14:30] joncameron opened #1952 "Uploading A Caption File in Invalid Format Returns Error"
### Done looks like:
 * Flash message is displayed instead of an error page.
### Tasks:
- [x] Isolate and fix

[2017-05-25 14:30] joncameron opened #1953 "Uploading a Structure File in Invalid Format Returns Error"
### Done looks like:
 * Flash message is displayed in UI instead of error page.
### Tasks
- [ ] Isolate and fix

[2017-05-25 14:32] joncameron commented on #1838
Brian notes that this is probably the same bug as the playlist issue that Karthik mentioned.

[2017-05-25 14:38] joncameron commented on #1647
This is a timebox issue that we've pegged to 2 points.

[2017-05-25 14:41] davidschober commented on #1729
We are abandoning. We can't come up with a real world scenario.

[2017-05-25 14:41] #1729 closed

[2017-05-25 14:42] davidschober commented on #1950
@jlhardes and @jenyoung can you two take a look at this and describe it a bit more fully some time next week?

[2017-05-25 14:45] davidschober commented on #1916
Make sure we have a header for "known issues or Gotchas" to capture oddities, ldc conflicts, etc.

[2017-05-25 14:47] davidschober commented on #1899
abandoned. There was some confusion about configuration.

[2017-05-25 14:48] #1899 closed

[2017-05-25 14:52] Karthikeya212 commented on #1832
updated strategy for creating test collection
[performance_metrics-2017-05-25.docx](https://github.com/avalonmediasystem/avalon/files/1029336/performance_metrics-2017-05-25.docx)

[2017-05-25 16:44] adamjarling commented on #1842
@mcwhitaker @bkeese In our standalone player, is it same to assume that supplied manifests will always contain a 'sequence[] > canvases[] > content[]' hierarchy in the json?   Or do we want to allow, say the 'content[]' node to live in the root level of the manifest as well?

[2017-05-25 16:46] #1939 closed

[2017-05-25 17:40] mcwhitaker commented on #1842
@adamjarling I think this is a decision that we have to make. Basically, the "sequences" allow for multiple master files for the same media object (like the Mahler audio that we have been using as an example). But a media object with just one master file does not need it this tag.

We can decide that we will always have the "sequences" tag and assume that media objects with just one master file wi

[2017-05-25 17:40] jlhardes commented on #1950
This issue is for trying to remember why we needed to not overwrite the Other Identifiers fields in the Resource Description Form when it is saved. We specifically made this change for a reason connected to the bib import functionality but we don't know if this feature is still necessary or not.

[2017-05-25 17:44] mcwhitaker commented on #1950
@jlhardes Is this a task for metadata experts or developers?

[2017-05-25 17:52] bkeese commented on #1842
@mcwhitaker I agree. And I think it is reasonable to always include the sequence layer.

[2017-05-25 17:54] cjcolvar opened #1954 "New media objects should have a recordIdentifier for its Fedora4 uri"
### Description
MediaObjects in Avalon 5 have a MODS recordIdentifier of their Fedora3 pid and source "Fedora".  When migrated the MODS gets an additional recordIdentifier containing the Fedora4 uri and source "Fedora4".

## Observed behavior
New media objects in Avalon 6 end up with MODS containing an empy recordIdentifier with source "Fedora".

## Expected behavior
New media objects in Avalon 6

[2017-05-25 17:58] jlhardes commented on #1950
I added that comment so when @jenyoung and I come back to it we know what this is about. We'll task it next week.

[2017-05-25 18:02] adamjarling commented on #1842
Great, I think that will make our code less complex, if it's a reasonable assumption how manifests will be structured.  @little9

[2017-05-25 18:04] cjcolvar commented on #1906
@davidschober did Carrick give you a report that can be summarized here and we can move this to done?

[2017-05-25 18:17] cjcolvar commented on #1607
I spot checked about 15 collections after running the migration from MCO and didn't see this problem.  I'm closing this.

[2017-05-25 18:17] #1607 closed

[2017-05-25 18:18] cjcolvar commented on #1608
I spot checked about 15 collections after running a migration from MCO and didn't see this problem so I'm closing this now.

[2017-05-25 18:18] #1608 closed

[2017-05-25 18:35] davidschober commented on #1954
This looks good.

[2017-05-25 19:00] davidschober commented on #1906
He got a bit held up yesterday and today he’s on vacation. We can close it. He discussed it a bit on tuesday with you all right?

[2017-05-25 19:00] davidschober commented on #1906
@carrickr can you post your findings here?

[2017-05-25 19:09] davidschober commented on #1954
@cjcolvar can you throw some points on it?

[2017-05-25 19:16] davidschober commented on #1948
OK. I'm a bit confused here. I thought in slack, we said it was showing an error page in 6.x. When I hit mallorn, I see the same behavior as Avalon 4.x(nu prod). (poster drops and no end time is shown). I think this might take some investigation.

[2017-05-25 19:18] davidschober commented on #1937
@adamjarling and @little9 do you want to break out the input field story? I think this issue may have been too big.

[2017-05-25 19:21] davidschober commented on #1929
@little9 and @adamjarling can you post the links to the repos here?

[2017-05-25 19:21] davidschober commented on #1929
https://github.com/avalonmediasystem/avalon-poc-standalone

[2017-05-25 19:23] davidschober commented on #1929
I reviewed this, feel free to close.

[2017-05-25 19:23] #1929 closed

[2017-05-25 19:25] mcwhitaker commented on #1948
@davidschober You have to make sure you use an item for which the content is available. Several items in mallorn don't.

I use these: https://mallorn.dlib.indiana.edu/?f%5Bcollection_ssim%5D%5B%5D=Yonder+Mountain+String+Band&q=&search_field=all_fields

[2017-05-25 19:28] little9 commented on #1937
@davidschober was it in mobile Safari or the desktop version?

[2017-05-25 19:29] davidschober commented on #1948
I’m getting 00:00—>00:00 without an error . I’m running the chrome Version 58.0.3029.110 (64-bit)

https://mallorn.dlib.indiana.edu/media_objects/ns064605c <https://mallorn.dlib.indiana.edu/media_objects/ns064605c>

[2017-05-25 19:31] #1938 closed

[2017-05-25 19:32] davidschober commented on #1937
Sorry, Desktop.

[2017-05-25 19:32] mcwhitaker commented on #1948
@davidschober In that case, I would say you have confirmed the issue. I can't reproduce it because I already have our domain white-listed. Even when I set chrome to block flash, I get to play the items.

[2017-05-25 19:33] davidschober commented on #1948
That’s what I’m thinking. I thought I saw someone’s screenshot from yesterday that showed the proper error message. (I’ll admit I was reading fast). K. We need to look at this in the sprint.

[2017-05-25 19:41] little9 commented on #1937
@davidschober hmm it looks like Safari doesn't support cross origin video/audio content.

https://bugs.webkit.org/show_bug.cgi?id=135379

[2017-05-25 20:04] Karthikeya212 commented on #1541
The alignment of marker with scrubber is fine for a newly created marker, but if an existing marker is edited it is going out of phase with the scrubber and the page needs to be refreshed to get the marker in sync to the scrubber.

[2017-05-25 20:04] #1667 closed

[2017-05-25 20:10] bkeese commented on #1541
Changes to the math here will be needed (reference commit: https://github.com/avalonmediasystem/media-element-add-to-playlist/commit/a2b6c8c6da1df45587171d02da758e0d7ce2629a) https://github.com/avalonmediasystem/avalon/blob/master/app/assets/javascripts/marker.js.coffee#L60

[2017-05-25 21:54] adamjarling commented on #1946
Functional, however there are a few remaining parsing, markup tweaks to make when generating HTML structure for the ranges/tracks.

[2017-05-25 21:57] davidschober commented on #1937
k. Let’s put a note at the top of the page?

[2017-05-25 22:00] adamjarling opened #1956 "Standalone Media Player - Text input to accept a manifest JSON url"
### Description
Update the standalone media player UI to provide a text input where a user may enter a manifest URL.  The app will accept the user's input, and build the player with content from supplied manifest.

### Done Looks Like
- UI updated with a text input and submit button.
- App successfully processes a valid manifest url, and displays content in the media player.
- App gracefully displ

[2017-05-25 22:02] adamjarling commented on #1937
I can add this in tomorrow.

[2017-05-26 13:34] #1914 closed

[2017-05-26 13:35] adamjarling commented on #1937
Just poking around at this a bit, and if you click on an area within the track timeline itself, it will play audio/video in Safari.  Maybe it's how Safari handles hash change events?

[2017-05-26 13:53] mcwhitaker opened #1957 "IU Production Issues"

[2017-05-26 13:54] #1957 closed

[2017-05-26 13:59] little9 commented on #1937
You're right, it's the hash change event! Here's a Stack Overflow page with about a million workarounds, we'll just need to pick one:

https://stackoverflow.com/questions/3090478/jquery-hashchange-event

[2017-05-26 14:30] #1843 closed

[2017-05-26 14:33] #1831 closed

[2017-05-26 14:33] #1937 closed

[2017-05-26 14:34] #1887 closed

[2017-05-26 14:37] #1433 closed

[2017-05-26 14:38] #1912 closed

[2017-05-26 15:02] adamjarling opened #1958 "Standalone Player - pull back into Hyrax"
### Description
Establish a pattern for bringing the compiled standalone player js code (library?) back into Hyrax.

### Done Looks Like
- Import standalone player js code into Hyrax
- Set up a page/view/area in Hyrax to display the POC player code

### Tasks
- [ ] Import standalone player js code into Hyrax
- [ ] Set up a page/view/area in Hyrax to display the POC player code

[2017-05-26 15:02] davidschober opened #1959 "NU Production Issues"
NU migration production issues

[2017-05-26 15:30] davidschober opened #1960 "Sprint 127 notes"
## Good

- General feeling very productive/ groovy squared
- more chatter in  Avalon

## TODO

- publish the POC doc
- Experiment with more remote
- Done looks like has been getting better
- Publish the POC needs
- Create a metadata group/team

[2017-05-26 15:33] mcwhitaker opened #1961 "Perform QA on standalone player"

[2017-05-26 15:34] mcwhitaker opened #1962 "Define performance parameters for mallorn"

[2017-05-26 19:15] davidschober commented on #1893
Also, is this part of the POC work?

[2017-05-26 19:29] adamjarling commented on #1937
I've been looking at this, and looks like Safari is picking up the onhashchange event ok.  It's something in Safari not executing the `mediaPlayer.play()` line?

[2017-05-26 20:22] jlhardes opened #1963 "Write documentation about indexed/faceted metadata"
### Description
No information is available in Avalon documentation about what fields are indexed for searching and browsing.

### Done Looks Like:
Avalon Collections Guide includes information about:
- What gets indexed (all Resource Description Form fields, section titles, etc)
- What's available as facets from index
- What is keyword searchable from index

[2017-05-30 14:15] adamjarling opened #1964 "Standalone player - Safari structure links not working"
### Description
In Safari, clicking links in the 'structures' tree doesn't play the sections.

### Done Looks Like
- Figure out source of issue why not playing section links in Safari.
- Clicking structure links in Safari plays sections as it does in Firefox/Chrome.

### Tasks
- [ ] Figure out source of issue why not playing section links in Safari.
- [ ] Verify / QA all hash-based navigation and

[2017-05-30 15:00] jlhardes commented on #1950
I searched through all Github issues and the older VOV issues in Jira and cannot locate anything that explains why we decided the Other Identifiers field shouldn't be overwritten when a new bib import is run in the Resource Description Form.

There is https://bugs.dlib.indiana.edu/browse/VOV-4004 that resolved a bug where format was overwritten with a new bib import and messing with the moving ima

[2017-05-30 15:27] jlhardes commented on #1950
After team discussion, determined reasons for not overwriting Other Identifiers: Variations and MDPI connection - identifiers (group id and MDPI barcode, Variations identifiers that are not in MARC record) that are added and then bib import is done, don't want to lose identifiers

Need to make sure bib import identifier is copied to Other Identifier

Need to deduplicate Other Identifiers

If diffe

[2017-05-30 16:04] Karthikeya212 opened #1965 "User cannot delete a 100 section item from preview page"
### Descriptive summary
Server: mallorn.dlib.indiana.edu
Testing: Performance
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: When tried to delete a 100 section item using the delete button present on the item preview page, the page is loading for around 30sec and the user is navigated to an error page and the operation is terminated.

### Expec

[2017-05-30 18:18] Karthikeya212 commented on #1965
Similar issue is seen with deleting individual sections as well. The user is navigated to an error page when he tries to delete a single section out of the 100 sections in the Manage Files page.

[2017-05-31 13:49] davidschober opened #1969 "Release 6.1"
### Description
Releasing 6.1 to the world after code work in #2031 is competed.

### Tasks
- [x] Write a draft of release notes on Github
- [x] Publish release on Github https://github.com/avalonmediasystem/avalon/releases
- [x] Update wiki with release notes as needed
- [x] Publish blog post announcing the release
- [x] Put announcement on Twitter and Facebook
- [x] Send out email to Samvera com

[2017-05-31 14:38] Karthikeya212 opened #1970 "Cannot delete Note(s) from Resource description"
### Descriptive summary
Server: spruce.dlib.indiana.edu
Testing: Exploratory
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10

### Issue
After adding some text in the Note(s) field of resource description it cannot be erased. Though it allows editing but it doesn't allow complete removal of text.
Note: this is more generally true for all the 2-part fiel

[2017-05-31 17:40] adamjarling commented on #1878
Using this URL for testing:

https://raw.githubusercontent.com/avalonmediasystem/avarax-poc/feature-quality-selector/app/views/demo/iiifavaudio.html.erb

[2017-05-31 17:41] adamjarling commented on #1956
Using this URL for testing:

https://raw.githubusercontent.com/avalonmediasystem/avarax-poc/feature-quality-selector/app/views/demo/iiifavaudio.html.erb

[2017-05-31 18:01] bkeese commented on #1764
Exceptions aren't being thrown, an we're not finding errors on bad playlist_items or clips. Errors on those items don't exist because we are not calling valid? on them first.

[2017-05-31 18:48] lealeelu commented on #1541
Found a problem with the markers. They don't update their position with screen resizing since they're not based off of percentage anymore. Can we update the pixel math on resize?
![image](https://cloud.githubusercontent.com/assets/5091130/26648298/059bf6d8-4610-11e7-8e7d-9aeb81f3dafd.png)
![image](https://cloud.githubusercontent.com/assets/5091130/26648327/1fb2995a-4610-11e7-9677-63bae48f95e9.png)

[2017-05-31 19:38] Karthikeya212 commented on #1961
Please find the below observations for the standalone player:

1. Sections links are not correctly navigating, like
    (i) Audio file main link "Symphony no. 3 - Mahler, Gustav" is pointing to the start of CD2 instead of CD1 which is the first section
    (ii) In the video file "At the Table" is pointing to the start of ""At the counter"" section

2. PlayForward/Backward is moving the timeline wi

[2017-05-31 19:43] mcwhitaker commented on #1961
@joncameron @davidschober @adamjarling -

@Karthikeya212 has done the QA validation on the POC player and logged his findings. You may now define which of these player problems should be addressed during the POC phase and which will be left for the next phase.

Do you want bug tickets for these items? Karthik can create them if you do.

[2017-05-31 19:44] davidschober commented on #1961
Thanks! . Bugs are the easiest to triage.

[2017-05-31 20:00] Karthikeya212 opened #1972 "Standalone Player: Sections links are not correctly navigating"
Server: https://avalonmediasystem.github.io/avalon-poc-standalone/dist/
Testing: Smoke
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Some of the sections links are pointing to the wrong section start points in the standalone audio/video player

### Steps to reproduce the behavior
1. Open the above mentioned server location.
2. Go to the Video

[2017-05-31 20:07] Karthikeya212 opened #1973 "Standalone Player: play-forward/play-backward is not moving the timeline bar with standard time intervals"
Server: https://avalonmediasystem.github.io/avalon-poc-standalone/dist/
Testing: Smoke
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: PlayForward/PlayBackward is moving the timeline with interval of 30sec for Video player and 1min40sec for Audio player. The documented values for avalon player is 6sec in play forward and 4sec in play backward.

[2017-05-31 20:12] Karthikeya212 opened #1974 "ME4js: audio player is not auto switching between CD's"
Server: https://avalonmediasystem.github.io/avalon-poc-standalone/dist/
Testing: Smoke
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Audio player is not auto switching from one CD to the next. User has to clicking on the CD link manually to start playing it.

### Steps to reproduce the behavior
1. Open the above mentioned server location.
2. G

[2017-05-31 20:21] Karthikeya212 opened #1975 "Standalone Player: 60th sec (2:60) is displayed in the player"
Server: https://avalonmediasystem.github.io/avalon-poc-standalone/dist/
Testing: Smoke
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: 60th sec (2:60) is displayed in the player.

### Expected behavior
 60th sec should be represented as 00 (after 2:59 next second should be 3:00 and not 2:60, the player is showing both 2:60 and 3:00)

### Actual

[2017-05-31 20:24] #1892 closed

[2017-05-31 20:25] Karthikeya212 opened #1976 "Standalone Player: video is beginning from start of the section when quality is changed"
Server: https://avalonmediasystem.github.io/avalon-poc-standalone/dist/
Testing: Smoke
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Video is beginning from start of the section when quality is changed.

### Expected behavior
The video should be continuing from its current position with updated quality

### Steps to reproduce the behavior
1. O

[2017-05-31 20:41] Karthikeya212 commented on #1961
please check the tickets #1972  #1973  #1974  #1975  #1976   for the above issues.

[2017-05-31 20:41] davidschober commented on #1961
Thanks!

[2017-05-31 20:42] davidschober commented on #1961
@Karthikeya212 Jon and I will triage, feel free to close this issue.

[2017-05-31 20:43] #1961 closed

[2017-05-31 20:56] davidschober commented on #1973
This looks like intended behavior of media element (both old and new). It's jumping forward not by a set time interval but by 1/20th of the length of the the track. You can see the same behavior on paw paw https://pawpaw.dlib.indiana.edu/media_objects/kw52j805z (30ish)

https://pawpaw.dlib.indiana.edu/media_objects/xp68kg20b (21)

The audio player is so long because it's  a 33 minute piece.

[2017-05-31 20:56] #1973 closed

[2017-05-31 20:58] davidschober commented on #1974
I think we can tackle this one when we add auto-play features, etc. @joncameron

[2017-05-31 20:58] davidschober commented on #1972
@adamjarling or @little9 is there something off with our math?

[2017-05-31 21:00] Karthikeya212 commented on #1973
In this case, I think we have to update the documentation in this page which sets specific time intervals with which timeline bar should move
https://wiki.dlib.indiana.edu/display/VarVideo/Accessibility

[2017-05-31 21:00] davidschober commented on #1975
This seems like an upstream issue. We didn't mess around with the player's math correct? @adamjarling can you investigate briefly and kick off an upstream bug/pr

[2017-05-31 21:04] davidschober commented on #1973
Can you kick off an issue for Avalon proper? We will investigate it (as it’s the same behavior). But the POC player won’t necessarily hit all of our accessibility needs. If this is still relevant we should kick off a feature issue for Avalon 7 to make sure we don’t miss it.

[2017-05-31 21:05] little9 commented on #1972
Nope, the manifest points to 227 seconds at both those links.

[2017-05-31 21:07] davidschober commented on #1972
Cool. @mcwhitaker or @bkeese can we get an updated manifest with that section and proper ins and outs?

[2017-05-31 21:09] davidschober commented on #1976
@adamjarling can you dig into how this works on the current system?

[2017-05-31 21:16] davidschober commented on #1973
This is odd. NU still has 4.0 install and it has the same behavior. I think we need to validate the accessibility findings and verify that they didn’t demand 4 second intervals.

[2017-05-31 21:19] davidschober commented on #1976
I think this should be pushed to a feature request for the IIIF player rather than a bug. The on -the fly switching was a bit out scope for this phase.

[2017-05-31 21:29] adamjarling commented on #1975
Sure, I can look into.  As of now we don't manually manipulate the clock or display.  Although we do adjust the current time when clicking on sections.

[2017-05-31 21:30] mcwhitaker commented on #1972
The manifest is correct:

[code]

@little9 - maybe you can update the copy of the manifest you are using?

[2017-05-31 21:32] mcwhitaker commented on #1972
This is the link to the manifest: http://dlib.indiana.edu/iiif_av/lunchroom_manners/lunchroom_manners_v2.json

[2017-05-31 22:25] little9 commented on #1972
I updated the manifest and the links are the same for that second subsection in the list. This was a particularly tricky part of the code. If you want me to fix this before I'm gone, I'll probably need to work on this for the rest of my time.

[2017-06-01 13:35] jlhardes commented on #1837
Other Identifiers handling for bib import covered in #1950

[2017-06-01 13:45] bkeese commented on #1837
Text for confirm button "Note: this will replace all metadata except for Other Identifiers."

[2017-06-01 14:09] #1946 closed

[2017-06-01 14:09] #1964 closed

[2017-06-01 15:05] little9 commented on #1958
I switched over the Hyrax demo app to use the bundle.

https://github.com/avalonmediasystem/avarax-poc/tree/master/public/assets/javascripts

I'm just putting the JSON and bundle in that folder and then including them in the view.

Later on, when Rails 5.1 is supported by Hyrax there may be a way of including the files with integration of webpack into the Rails asset pipeline.

[2017-06-01 15:13] little9 commented on #1972
I'm going to discuss this issue with Adam just in case I don't find a solution by Friday. 'At the Table' is a sub-sub section that is after another sub-sub section in the manifest. The way I'm calculating the time for those is by determining the first start time for a sub-sub section and then the end time. That's why the 227 time is duplicated.

I'm not sure if it's possible in IIIF-AV, but it wou

[2017-06-01 18:56] davidschober commented on #1972
Ok I noticed some odd things about the bug:

If you click "In the lunchroom", the "at the table" it resets to 3:47. If you click "sitting quietly" then "eating neatly" then click "at the table", at the table seems to infer the correct start time (6:02).

If you then click ""sitting quietly" again it jumps back to 3:47.

Odd bug.

[2017-06-01 19:21] Karthikeya212 commented on #1972
I don't know if any changes are being done to it right now. I tried the steps that you commented
1. Click on "In the lunchroom" -- goes to 3:47
2. Click on "At the table", and this click doesn't trigger anything

I tried a bit more and noticed that second click on any section (eg: sec_1) doesn't trigger anything, we need to click on a different section (eg: sec_2) and come back sec_1 to trigger it

[2017-06-01 19:37] davidschober commented on #1972
@joncameron is it critical that master sections are inclusive of the sections below them? This is creating a situation where we have to do a lot of inference.

[2017-06-01 19:45] little9 commented on #1972
@davidschober @Karthikeya212 For the section behavior, right now when you click on one of the sections the video only goes to the section if the URL changes. Clicking on one of the sections that has a duplicate URL hash won't cause the player to reload.

So the event that is triggering the player to seek to a certain portion of the video is the contents of the URL hash not necessarily clicking.

I

[2017-06-01 19:52] mcwhitaker commented on #1972
@davidschober About the structural metadata navigation: For IIIF-AV, it is assumed they are rendered as links, but for Avalon parity with r6, the ranges don't need to be links. This may simplify the code as the timings won't need to be inferred.

So, for this piece:

[code]
_Getting ready for lunch_ and _Washing Hands_ don't need to be links, whereas _Using Soap_ and _Rinsing Well_ do.

[2017-06-01 20:19] Karthikeya212 commented on #1965
I have tried the same on spruce, it loaded for 20 to 30min and then threw a "Site Unreachable" error, but eventually the process didn't terminate and the item is deleted.

[2017-06-01 20:49] little9 commented on #1972
@Karthikeya212 Could take another pass at this? I updated the link behavior.

@davidschober @mcwhitaker I removed the links to the inferred sections for now. I had a discussion with @adamjarling about this today so I think that he will have some ideas about this going forward if they aren't back tomorrow.

[2017-06-01 20:51] cjcolvar commented on #1965
The site unreachable probably came from a deploy to spruce due to a PR being merged.

[2017-06-01 20:52] davidschober commented on #1972
whew. Looks like we have a simplified winner. We can work on improving the player as this thing gets more real.

[2017-06-01 20:55] Karthikeya212 commented on #1972
Yeah, this doesn't have any issues

[2017-06-01 20:59] Karthikeya212 commented on #1972
@little9 The main link for the audio is removed, but for video it is present and clicking on it start the video from the start (00:00). Is it because the first track of audio starts from 00:00 and the first track of video start from 2:37 ?

[2017-06-01 21:11] little9 commented on #1972
@Karthikeya212 This is just a consequence of the way the manifest is structured. In the
video manifest the first link (which is a Range with the label property in the manifest) has an explicit time:

[code]

Whereas in the audio manifest the first link is the first track:
[code]

[2017-06-01 21:33] mcwhitaker commented on #1972
@little9 @adamjarling - that canvas on the video that goes from 0 to 157 is not the tim fragment for the range as ranges don't have time fragments directly assigned to them, only indirectly via the combination of its members' time fragments. That time fragment is one of the members of the range as the tag _members_ implies; it is the first canvas within the range.

In the spec for IIIF-AV, the dec

[2017-06-01 22:00] Karthikeya212 commented on #1962
Please find the performance parameters that were noted down on Mallorn.
[Performance Params on Mallorn.xlsx](https://github.com/avalonmediasystem/avalon/files/1046148/Performance.Params.on.Mallorn.xlsx)

Note: Parameters for Bulk actions are pending to be done after rc2 update on Mallorn

[2017-06-01 22:10] mcwhitaker commented on #1962
@davidschober @joncameron

On the document uploaded by @Karthikeya212 we see:

![image](https://cloud.githubusercontent.com/assets/16720883/26702985/79411b78-46f5-11e7-9722-6805edf6729d.png)

Should we find a number for which this works? Say we support these operations on items with up to 70 sections.

[2017-06-02 12:48] cjcolvar opened #1986 "Migration should fail media objects missing master files"
Migration should fail media objects on second pass if not all master files can be added to ordered list.  Currently it just moves along.  This is especially problematic if master files failed migration and then pass after rerunning.  In this scenario the migration tool doesn't know to rerun second pass on the media object.

### Tasks
- [ ] Add a check for completeness in media object's second pass

[2017-06-02 14:12] carrickr opened #1987 "Get Test Coverage Working Again"
### Description
Gives code coverage info on PRs. Currently turned off, has been broken since r6.

### Tasks
- [ ] Ensure travis is reporting to the Coveralls API
- [ ] Get it commenting on PRs
- [ ] Get the badges working

### Pointing
Probably a 2 or 3

[2017-06-02 14:22] lealeelu opened #1988 "Get a sweet codeclimate badge"
Hook the avalon repository up to codeclimate

## Done looks like
Avalon has a codeclimate badge

## Tasks

[2017-06-02 14:29] davidschober commented on #1907
@Karthikeya212 to break out issues.

[2017-06-02 14:34] Karthikeya212 opened #1989 "Testing: Deleting a 100 section item is not removing all the sections in the item in Mallorn"
### Descriptive summary
Server: mallorn.dlib.indiana.edu
Testing: Performance
Browser: Chrome(58.0.3029.110 (64-bit))
Flash version: 24.0.0.221
Operating System: Windows10
Issue: Deleting a 100 section item is not removing all the sections in the item.

### Expected behavior
The item gets deleted from the Avalon system completely.

### Actual behavior
In one try there are 30 sections leftover out

[2017-06-02 15:50] cjcolvar commented on #1988
FWIW, people in the hydra dev slack channel just decided to turn code climate off from github PR optional checks.

[2017-06-02 15:56] cjcolvar commented on #1837
I tried this out on mallorn and the only fields I see sticking around in the UI are other identifier and permalink.  Also the record that I imported (IUCAT: 3297348)  had duplicate english entries after bib import.

[2017-06-02 20:40] jlhardes commented on #1837
Is permalink being added onto so you end up with multiple permalinks and only one of them really works?

[2017-06-02 21:19] cjcolvar commented on #1837
No, I don't think permalink is ever brought in via bibimport.  Permalink is single valued as well.

[2017-06-02 21:23] jlhardes commented on #1837
OK, so permalink just isn't changed with a bib import. That's good - permalink is something generated by Avalon and shouldn't be overwritten by anything from a bibliographic record. Thanks!

[2017-06-03 02:52] cjcolvar opened #1992 "Migration is not setting ebucore:width and ebucore:height on derivatives"
The migration is looking in the wrong place for width and height in the encoding datastream for derivatives.  Instead of trying to set width and height separatly it is possible to read the value of `//video/resolution` from the datastream and set it on the derivative using `.resolution`.

[2017-06-03 13:53] jlhardes commented on #1992
Is there an RDF property for that? I don't see anything in EBUCore for resolution which I think is why we went with separate width and height.

[2017-06-05 11:14] cjcolvar commented on #1992
Right, this is a bug for the migration of derivative objects.  We have a helper method called `resolution` which splits apart a string like '1024x768' into width and height and sets those two EBUCore properties.  The issue is that the derivative's `encoding` datastream template included elements for width and height `//video/resolution/width` but in reality those weren't used and a resolution stri

[2017-06-05 15:21] adamjarling opened #1993 "Standalone Media Player - Clicking on current structure link doesn't play structure link"
### Description
In the standalone player, when clicking on a link in the structures section which is the currently playing link, the hash handler does not update and nothing happens

This is an issue in event handling, when a new manifest url is supplied, extra event listeners are added which pile up and cause timing errors in console.

Need to find a better way to handle event delegation when loa

[2017-06-05 15:22] adamjarling commented on #1956
This ticket to work/bug/improvemtn detailed in #1993

[2017-06-05 16:05] adamjarling opened #1994 "Standalone Media Player - Add list of valid manifests player consumes to Standalone Player Github Wiki"
### Description
Compile a list of acceptable manifest structures which the standalone player should successfully parse.

### Done Looks Like
- Valid manifest urls and/or json objects are identified.
- Links to manifests are referenced and saved in the Github repo for current and future reference.

### Tasks
- [x] Collect/identify valid manifests.
- [x] Add manifest links to the Github wiki.

[2017-06-05 16:11] adamjarling opened #1995 "Standalone Media Player - Combine Audio and Video pages into one player/structure/UI"
### Description
Currently there are 2 pages in standalone player app, Audio and Video.  These should be combined into one single UI, which consumes a manifest file which maybe have video, audio, or both.  The player should respond to mixed media type manifests.

### Done Looks Like
- Audio and Video pages consolidated into one page.
- The UI displays a structure which represents and updated manife

[2017-06-05 16:21] adamjarling opened #1996 "Standalone Media Player - Update webpack configuration dev environment"
### Description
Update the webpack bundling to support a better development environment.

### Done Looks Like
- Move *.html files to /app directory for development.
- Have dev environment reference local /app es6 JS files instead of bundled webpack output JS files in /dist.

### Tasks
- [x] Update webpack dev to use webpack server
- [x] Update webpack dev to display live updates in browser via a w

[2017-06-05 16:42] adamjarling commented on #1956
@joncameron @davidschober You can review the Audio page accepting an external manifest file here:

https://avalonmediasystem.github.io/avalon-poc-standalone/dist/audio.html

I'm punting the work getting Video to accept a manifest url, until some more structural, underlying work is completed.

[2017-06-05 17:26] mcwhitaker commented on #1956
@adamjarling

I got an error using the URL for the mahler symphony:

![image](https://cloud.githubusercontent.com/assets/16720883/26795147/8eed95b4-49f2-11e7-8c3b-88730388412d.png)

[2017-06-05 17:48] davidschober commented on #1956
Did you accidentally collide with Jamie's changes late last week(removed top level links )

Sent from my iPhone

[2017-06-05 17:50] adamjarling commented on #1956
@davidschober Looks like Jamie re-enabled those links in his last commits.

[2017-06-05 17:58] adamjarling commented on #1956
@mcwhitaker It looks like it's a SSL issue, serving the manifest file from Indiana's "http://" and consuming it on GitHubs "https://".   Try adding the "s".  ie.  https://dlib.indiana.edu/iiif_av/mahler-symphony-3/mahler-symphony-3.json .  Seems to work that way.

[2017-06-05 18:13] mcwhitaker commented on #1956
@davidschober @adamjarling Jamie fixed the top links last Friday. I tested them for him. All was working perfectly.

[2017-06-05 18:35] bkeese commented on #1838
This is related to whether or not structural metadata is available on a section. Links are handled in the Sections display differently depending on the availability of structural metadata.  https://github.com/avalonmediasystem/avalon/blob/develop/app/views/media_objects/_sections.html.erb#L77

[2017-06-05 20:18] mcwhitaker commented on #1961
@davidschober @joncameron there is another piece that this POC player is missing when rendering the structure to be on parity with r6. Maybe I should also create a ticket for your triage along the other tickets that @Karthikeya212 created?

The issue is that the avalon player adds the time duration to the right of each track whereas the POC player is not doing that:

Pawpaw:
![image](https://cloud

[2017-06-05 21:04] mcwhitaker commented on #1956
@adamjarling I have created another manifest for audio to test the standalone player that I will send you via slack. Please do not share this outside the Avalon team (which includes not adding it to github comments); even though the item is public, we have not requested permission from the collection manager to share it to be used outside of our Media Collections Online avalon instance.

Testing w

[2017-06-05 21:05] phuongdh commented on #1989
- [ ] Move delete job to background.
- [ ] Reduce number of callbacks that update relationships.

[2017-06-06 14:43] cjcolvar commented on #1393
This is still present on spruce.

[2017-06-06 14:46] adamjarling commented on #1994
After discussing with @mcwhitaker, we'll need to figure out what manifest structures are supported, and how the player should respond to different manifest structures.

Here are some links to help me, and for general clarification on manifests.

https://github.com/IIIF/iiif-av/tree/master/source/api/av/examples
https://github.com/IIIF/iiif-av/blob/master/source/api/av/index.md

[2017-06-06 20:20] Karthikeya212 commented on #1989
This issue is reproduced on Mallorn today. The system deleted 79sections from the item and left 21sections as it is. This is the item in Mallorn: https://mallorn.dlib.indiana.edu/media_objects/3f462543d

[2017-06-06 20:24] mcwhitaker opened #2006 "Spruce - Facet limits missing on r6"
It looks like facet limits are missing on r6.

## Steps to reproduce
1. Login to spruce
2. Click on _Collections_ to expand the facet (or _Date_, or _Main Contributor_)
3. Note that it is not limiting the expansion to 5 items plus the _more >>_ option to activate the modal.

### Note
I don't know if the core default limit is 5 or 10. In the IU r5 instance, it is 5.

[2017-06-06 20:34] phuongdh commented on #1965
- [ ] Move delete job to background.
- [ ] Reduce number of callbacks that update relationships.

[2017-06-06 21:06] cjcolvar opened #2007 "Lease has_many media objects uses wrong predicate"
Leases can't lookup the media objects they apply to because they are using isMemberOfCollection, but media objects link to leases using isGovernedBy.  We need to update the has_many relationship in whatever way to fix this.  This is not a data issue as media objects already have the correct RDF triple and leases don't have a triple for this.  The relationship is used for ActiveFedora to correctly

[2017-06-07 17:04] Karthikeya212 opened #2009 "UX: Styling adjustments for "Sign in" link"
### Observations
1. The “>>” has no specific meaning.
2. The yellow box adds too much contrast; was it added because people did not see the “sign in” link? The IU sites don’t have that and users find it easily.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26890896-2d9d2528-4b81-11e7-843c-302651aa5704.png)

[2017-06-07 17:06] Karthikeya212 opened #2010 "UX: Search bar with no clickable buttons"
### Observations
1. Search bar has no clickable buttons to trigger the search, user has to rely only on ENTER button from keyboard.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26891166-156ab6d6-4b82-11e7-88f2-119eab1ee373.png)

[2017-06-07 17:22] Karthikeya212 opened #2011 "UX: Styling adjustments for Global Navigation Bar"
### Observations
1. On hovering over the options, the visual clue is weak. Consider changing background color of the hovered item.
2. Clicking on one option does not give any feedback to the user that the click occurred.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26891792-3e263d50-4b84-11e7-91cf-0b371ad556ac.png)

[2017-06-07 17:31] Karthikeya212 opened #2012 "UX: Styling adjustments for search results page with no results found"
### Observations
1. Duplicated message (“No entries found” and “No results found for your search”)
2. Use of multiple font sizes – what does each size mean?
3. Indentation and bullet – what is the purpose?
It looks like a style variation for highlighting and helping the user to easily identify the key point in the page that "no results were found", but there are multiple UX mappings here in the fo

[2017-06-07 17:35] Karthikeya212 opened #2013 "UX: Footer should be static in its position on the page"
### Observations
1. Footer moves up and down with respect to the size of the page.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26892352-05515ea4-4b86-11e7-85c0-68b1bc539a73.png)

[2017-06-07 17:39] Karthikeya212 opened #2014 "UX: Create Collection button should be present at the top section of the page"
### Observations
1. Create Collection button is at the end of the my collections table, which makes it harder to notice or access if the table size is considerably large. As it is the main functionality if the page it should be easily accessible to the user.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26892505-8884d328-4b86-11e7-97a3-e75b2a421013.png)

[2017-06-07 17:45] Karthikeya212 opened #2015 "UX: Limit the text or eliminate description column from my collections table"
### Observations
1. My Collections table displays description for every collections, because of which some collections occupy very large row height in the table resulting in increased table length.
Instead the description field could be removed and let user to go to the collection and read it or the text displayed in the table could be limited and displayed in a tool-tip on hovering.

### Screensh

[2017-06-07 17:50] Karthikeya212 opened #2016 "UX: Update Access Control popup/page has multiple save options"
### Observations
1. The "Update Access Control" popup/page has multiple save options like every Add button click, every Remove button click will save the entire page. And in addition we have a save button as well for the fields that don't have Add/Remove buttons, which again saves the entire page.

2. The "Update Access Control" popup doesn't show the existing records under "Special Access Control

[2017-06-07 17:53] Karthikeya212 opened #2017 "UX: Links pointing to an external website are opening in the same tab"
### Observations
1. "Avalon Website" link (at the bottom of the page) redirects on the same tab. The same problem happens with the "Learn How to" link in collection details page.
As they point to a different website they should be opened in a new tab without affecting the current work.

[2017-06-07 17:56] Karthikeya212 opened #2018 "UX: Audio and StreamQuality strips overlap on their icons"
### Observations
1. The Audio and StreamQuality icons when clicked opens their respective action strips to perform the action, these strips are overlapping a bit on the icons.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26893384-1eec424a-4b89-11e7-90ac-811e109437a3.png)

[2017-06-07 17:58] Karthikeya212 opened #2019 "UX: View Fedora Objects button doesn't unclick"
### Observations
1. The "View Fedora Objects" button doesn't hide the data once it is clicked, user has to reload the page to hide the data.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26893458-69794dd0-4b89-11e7-9ce8-7699ff9756ce.png)

[2017-06-07 18:01] #1986 closed

[2017-06-07 18:01] Karthikeya212 opened #2020 "UX: Tool-tip on player icons (captions/full-screen) neither shows current state or action to be performed"
### Observations
1. Tool-tip on player icons (captions/full-screen) neither shows current state or action to be performed, which some times puzzles user on what to do.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26893610-cfca159c-4b89-11e7-8c7f-f5009910b185.png)

[2017-06-07 18:04] Karthikeya212 opened #2021 "UX: Improving exception handling"
### Observations
1. In some areas, such as uploaded file type mismatch, if an error occurs that user will be navigated to an error page with no instruction on what to do next.
It would be better if the issue is pointed out at the same location, or at least instructions for the user when navigated to an error page on what is the next step of action.

### Screenshots
![image](https://user-images.git

[2017-06-07 18:07] Karthikeya212 opened #2022 "UX: Inconsistent wording in confirmation messages in various parts of the application"
### Observations
1. It would be better to maintain a common styling format and common wording for all the similar types of operations performed over the application.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26893840-98e3b316-4b8a-11e7-86e9-199b20a0a625.png)

[2017-06-07 18:08] Karthikeya212 opened #2023 "UX: Date Validation"
### Observations
1. Date validation missing for Creation Date and Publication date (except the string validation).

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26893880-bbbceed4-4b8a-11e7-9b78-c690f4c74a0d.png)

[2017-06-07 18:10] Karthikeya212 opened #2024 "Actions performed using player controls (thumbnail/scrubber/add-to-playlist) are not visible in full-screen mode"
### Observations
We should:
 1.) Hide the player controllers that bring up modal pages (playlist, thumbnail) when in full screen mode; or
2.) Exit full screen mode when user clicks on them (the operations initiated by these controls hidden from the user in full screen mode).
3.) A third option, which seems harder, would be to unhide the modal pages even when in full screen mode.

### Done Looks Li

[2017-06-07 18:12] Karthikeya212 opened #2025 "UX: Hyperlinking Collections and Items where their names appear to ease out navigation"
### Observations
1.“Collection >> Item” – Making the relationship terms links to the element they represent would reduce navigation effort.

### Screenshots
![image](https://user-images.githubusercontent.com/25850972/26894062-4bed697a-4b8b-11e7-84b3-f839b3ca2a75.png)

[2017-06-07 18:14] Karthikeya212 opened #2026 "UX: Cannot perform operations on subset of the items without removing them from "My Selected Items" page"
### Observations
1.There can be a use case when working with the Selected Items list: we would like to perform an action on a subset and a different action on another subset (or the whole set), but the fact that any action reloads the page with deselected items being permanently excluded from the set makes the series of actions not possible.

[2017-06-07 18:27] phuongdh opened #2027 "Accessing a deleted item shows unhelpful error"
### Descriptive summary
Server: spruce.dlib.indiana.edu
Testing: Exploratory
Browser: Chrome(56.0.2924.87 (64-bit)), checked on Firefox(50.0.2) as well
Flash version: 24.0.0.221
Operating System: Windows10

### Steps to reproduce the behavior
1. Login to spruce system
2. Add an item
3. Delete the item
4. Go back to the item

### Expected behavior
Page shows "Item invalid" or "This item doesn't exi

[2017-06-07 19:27] #1935 closed

[2017-06-07 20:41] phuongdh commented on #1989
Because the deletion process would take longer than 2h, I or someone else might have messed with the server before it got to completion. I think we should try to reproduce this bug in a more controlled way.

[2017-06-07 21:20] jenyoung commented on #1963
solr info https://github.com/avalonmediasystem/avalon/blob/master/app/models/mods_behaviors.rb#L21-L91

[2017-06-08 12:42] cjcolvar commented on #1615
@avalonmediasystem/avalon-product-owners I couldn't reproduce this on spruce.  I recommend closing it.

[2017-06-08 12:52] cjcolvar commented on #235
@avalonmediasystem/product-owners This is a really old issue that is either a non-issue in 6.x or is very low threat and not easily solved due to the way our workflow works.  I propose we abandon it.

[2017-06-08 12:56] cjcolvar commented on #1631
This was fixes a while ago.

[2017-06-08 12:56] #1631 closed

[2017-06-08 12:59] cjcolvar commented on #1394
Fixed with https://github.com/avalonmediasystem/avalon/commit/e683b2f55b99ee46bf32a81be0b1f2bf8bf7e33d.

[2017-06-08 12:59] #1394 closed

[2017-06-08 13:04] cjcolvar commented on #1641
@avalonmediasystem/product-owners This feels like edge case to me and low priority.

[2017-06-08 13:14] joncameron commented on #2027
I like "This item does not exist or has been deleted." as the error text.  This should ideally be displayed in the usual object view where the player and metadata would normally appear.

[2017-06-08 13:33] mcwhitaker commented on #1641
@joncameron @davidschober

The comment by @cjcolvar compels me to say something that I have been looking for an opportunity to say; this is not at all aimed at his comment, which just served as a reminder for me.

I recently read a comment related to user experience that compared aiming at an application that works is like being a chef that aims at food that is edible; we should aim at delight.  I

[2017-06-08 13:45] joncameron commented on #1641
@mcwhitaker I agree that we should shoot for delight and the spirit of your comment, but in the context of current ux issues and bugs I do feel that this particular issue is low priority. It's not necessarily a lack of interest but rather a focus on things that I'd like to have handled first, such as the bugs impacting ux that have been worked on in the current sprint.

Post 6.1 release, something

[2017-06-08 13:51] joncameron opened #2031 "Final 6.1 Code Merge and Code Freeze"
### Description
Code merges, update and cleanup for the public release of 6.1.

### Tasks

- [x] Update version in code
- [x] Update license headers in files
- [x] Tag dependency repos
- [x] Update gemfile to point to those tags
- [x] Latest 6.1rc merged into master
- [ ] Create tag for v6.1.0

[2017-06-08 14:14] joncameron opened #2032 "Player API CORS Fix Work"

[2017-06-08 14:15] joncameron commented on #2032
Waiting to point until #1945 is complete.

[2017-06-08 14:22] joncameron commented on #1695
@cjcolvar also mentioned that reindexing would be good to revisit in general. This particular ticket may not be necessary.

[2017-06-08 14:28] joncameron opened #2033 "QA for 6.1"
### Description
Quality assurance testing for 6.1 before release.

#### Done Looks Like
A final 6.1rc is created and deployed for testing. Regression testing is performed on this instance.

[2017-06-08 14:35] joncameron commented on #1893
This should probably just be in the hydra_derivatives repo. An issue can be created there and a reference made here and this issue closed.

[2017-06-08 14:35] joncameron commented on #1894
This is another issue that should be created in the hydra derivatives repo, a reference made here, and this issue closed.

[2017-06-08 14:43] joncameron opened #2034 "Embed Logins Don't Redirect Correctly"
### Description
Embedded players with content that is restricted don't gracefully handle the user clicking the 'sign in' button and passing that back to the player.

As a user, after authenticating I expect to go back to the location where I expect my content to be.

### Current Behavior Example
![jun-09-2017 09-34-04](https://user-images.githubusercontent.com/1406618/26977737-f1967b98-4cf6-11e7-8

[2017-06-08 14:49] joncameron opened #2035 "Investigate Automatic Logins for Embedded Players"
### Description
Avalon should log a user in automatically if the user is already authenticated via single sign-on.

### Other issues
General issue: will policy dictate that a user needs to manually sign in even when already authenticated through SSO? Will this be able to be put into the core application, or will it depend on specific SSO setup?

[2017-06-08 14:50] joncameron commented on #2035
This may need to be handled in a way that provides guidance to the embedding application

[2017-06-08 14:53] joncameron opened #2036 "Documentation for Migration and Migration Report"
### Description
As a sysadmin migrating an Avalon instance to release 6, I want documentation about running the migration and regarding the migration report.

### Done Looks Like
- A wiki page is noted in this ticket (or created if necessary) to contain this information
- Documentation is written

### Notes
Especially as NU and IU have finished migration of r6 into production, documentation should

[2017-06-08 18:03] mcwhitaker commented on #2006
Working on spruce. Moving this to done.

[2017-06-08 18:04] #2006 closed

[2017-06-08 18:06] mcwhitaker commented on #1837
@joncameron I am working on QA for this ticket now.

[2017-06-08 18:31] mcwhitaker commented on #1837
QA completed. Moving to done.

[2017-06-08 18:31] #1837 closed

[2017-06-08 18:36] #1953 closed

[2017-06-08 19:01] mcwhitaker opened #2039 "Remove bibimport overwrite warning when creating a new item"
## Description

When creating a new item, using bibimport to populate the Resource Description is showing the recently created warning (#1837) about bibimport replacing data in all fields except Other Identifiers.

We do not want the warning in this situation.

### Note

Should we check if there are fields populated at all before issuing the warning? That would be a broader solution.

[2017-06-08 19:03] #1920 closed

[2017-06-08 19:22] cjcolvar commented on #1924
Documentation included on wiki page under development:
https://wiki.dlib.indiana.edu/display/VarVideo/Upgrading+Avalon+6.0+to+Avalon+6.1

[2017-06-08 19:22] lealeelu commented on #1768
Server: spruce
Browser: Chrome 58.0.3029.110
Flash: n/a No flash is needed on the edit playlist page
OS: Windows 10

I wasn't able to reproduce this issue.

[2017-06-08 19:24] cjcolvar commented on #1768
@avalonmediasystem/product-owners can we close this?  I wasn't able to reproduce it now that we made fixes to it.

[2017-06-08 19:25] mcwhitaker commented on #1952
@cjcolvar I think this needs more work. I am getting the flash message even when a provide a valid vtt file (the lunchroom vtt that @Karthikeya212 posted on slack yesterday for Jen).

I am not doing a batch ingest, so I am assuming that the name of the file does not matter as long as it has the .vtt extension and is in the correct format. But trying with a file that has the same name as the mp4 fi

[2017-06-08 19:34] #1769 closed

[2017-06-08 19:44] #1924 closed

[2017-06-08 19:44] joncameron commented on #2039
Brian's current idea for a fix he may implement: "Checking for a blank title should be good enough, now that I think about it. Only records that are here for the first time won't have one."

[2017-06-08 19:45] lealeelu commented on #1701
Looking at the problem, it looks like it would be best to make a rake task and add that task to a daily scheduled job in config/schedule.rb. The rake task would search for outdated bookmarks and then use a new class that would delete the bookmark. mo.remove_bookmark is on the MO and might not be best.

[2017-06-08 19:46] cjcolvar commented on #2007
I'm verifying this works on spruce.

[2017-06-08 19:49] mcwhitaker opened #2042 "long-lasting flash message"
## Description
When you add a marker to a playlist item, you get the success message:

![image](https://user-images.githubusercontent.com/16720883/26947689-968bbb7c-4c61-11e7-9ed3-41dad38d67bb.png)

The problem is that the message does not disappear and does not have the usual "x" that gives the user the ability to dismiss it.

### Done looks like
User is given the option to get rid of that messag

[2017-06-08 19:49] #2007 closed

[2017-06-08 19:54] cjcolvar commented on #1954
I'm verifying this on spruce.

[2017-06-08 19:56] cjcolvar commented on #1954
Fixed on spruce but still need to write migration and update documentation.

[2017-06-08 20:02] #1970 closed

[2017-06-08 20:09] cjcolvar commented on #1393
@avalonmediasystem/product-owners I fixed this but the way I fixed it doesn't have any error message.  Is this okay or do we want a warning message?

[2017-06-08 20:17] #1079 closed

[2017-06-08 21:11] cjcolvar opened #2043 "Migration Report Details Page Tweaks"
### Description
Based upon feedback from @jlhardes, the following improvements should be made to the migration report detail page.

### Done Looks Like
Migration Report Details pages have been improved to deal with identified issues.

### Tasks
- [x] expand N/A to Not applicable
- [x] Give a different details page for non-Fedora items (e.g. markers, clips, playlists, bookmarks)
- [ ] in documentat

[2017-06-09 00:37] cjcolvar commented on #1992
Verified working with migration to neon.

[2017-06-09 00:37] #1992 closed

[2017-06-09 12:39] joncameron commented on #1615
Closing as per Chris' comment. We'll write a new issue if this reappears.

[2017-06-09 12:39] #1615 closed

[2017-06-09 12:40] #1619 closed

[2017-06-09 13:10] #1959 closed

[2017-06-09 13:36] jlhardes commented on #1393
I'm no product owner, but this seems reasonable to me. You get the appropriate errors messages about title and date being empty. If you already have a valid import in place and try to use just spaces for catalog key and click import, you don't lose the valid import - that's a good thing.

[2017-06-09 13:38] cjcolvar commented on #1393
Maybe we should catch this in the javascript though and not enable the import button?

[2017-06-09 13:45] jlhardes commented on #2039
On spruce: That fix seems to be in place and working that way. I created an item, used a valid catalog key for bib import, and didn't receive any warning message. I have also tried other bib imports after that initial bib import and receive the warning message.

If you remove the title and save, you have a record with an error message but it does save. Then using a new catalog key for import, you

[2017-06-09 13:48] jlhardes commented on #1393
If you can catch that and stop the action from happening in the first place, that works too. But this way doesn't hurt the record and gives the user information. It just also allows the import action to run and it doesn't need to run.

[2017-06-09 13:51] mcwhitaker commented on #2039
@joncameron @jlhardes Do you think we should save a record with no title (and an error message)? I would think we would fail to save when a required field is missing.

[2017-06-09 13:59] cjcolvar commented on #2039
@mcwhitaker I agree but that is a different issue that this one.
Our workflow is such that we have to save objects missing required fields prior to getting to the resource description page.  But at that point we should require required fields prior to saving so this is a separate bug.

[2017-06-09 14:01] jlhardes commented on #2039
That seems like it might be a separate bug from this but those were the steps that I took and it seemed to save the record with no title and then gave me the error message about a missing title after it saved.

I just removed the title and saved on one of my records on spruce. You can see it in the Jules test collection (the title is now the F4 identifier, I think - 0v838057g).

[2017-06-09 14:07] mcwhitaker commented on #1956
The video I referred to in my previous comment has been cleared, so here is the manifest:

http://dlib.indiana.edu/iiif_av/mahler-symphony-5/mahler-symphony-5.json

[2017-06-09 14:14] Karthikeya212 commented on #1768
This problem still exists in my system. I am using the following versions
Chrome: 59.0.3071.86 (Official Build) (64-bit)
Flash: PPAPI 25.0.0.171

I still can't figure out why this doesn't work, I can't say that flash is not working, as I am able to play the videos without any complaint from Avalon.

[2017-06-09 14:17] bkeese commented on #1768
Maybe a hard refresh (Ctrl-F5) to force a reload of the javascript/css will fix it for you?

[2017-06-09 14:19] Karthikeya212 commented on #1768
Tried it, still not working. Tried it in the incognito as well without any success.

[2017-06-09 14:20] joncameron opened #2045 "Media Objects Can Be Saved Without Required Fields (Title & Date)"
### Descriptive summary
Server: spruce.dlib.indiana.edu
Browser: Firefox 53
Operating System: macOS 10.11.6

### Issue
Media objects can be saved without a title or date, which are required fields—objects should not save if these are absent.

### Expected behavior
Save operations are not allowed if there is no value in the Title or Date fields of the Resource Description form.

### Actual behavior

[2017-06-09 14:20] joncameron commented on #2039
I've created https://github.com/avalonmediasystem/avalon/issues/2045 for this bug; this ticket can be closed out.

[2017-06-09 14:23] mcwhitaker commented on #2039
@cjcolvar I agree it is a separate bug. My point was to clarify the specs since @jlhardes comment seemed to imply that it was all right to save without a title.

[2017-06-09 14:25] cjcolvar commented on #2045
Issue seems to be here: https://github.com/avalonmediasystem/avalon-workflow/blob/master/lib/avalon/workflow/workflow_controller_behavior.rb#L66

This will be a little tricky since we need to make sure that saves on the manage files tab skip validation if the workflow hasn't progressed to resource description yet.

[2017-06-09 14:27] bkeese commented on #1393
Very simple javascript change to disable the button if only whitespace in the box.

[2017-06-09 14:44] #1902 closed

[2017-06-09 14:49] #2039 closed

[2017-06-09 14:50] joncameron opened #2046 "Improvements to Bibimport"
- If you only have a space, you should not be able to import, import button disabled in that case

## Reference
#1393

[2017-06-09 14:53] phuongdh opened #2047 "Speed up MediaObject destroy"
### Description
MediaObject currently takes too long to delete, especially when there are many sections, due to all the unnecessary updates/saves. Related issue #1965 and #1989

### Tasks:
- [ ] Reduce number of ActiveFedora callbacks
- [ ] Compare deletion time before and after, report result
- [ ] Make sure related MasterFiles and Derivatives are really deleted
- [ ] MediaObject should be inacce

[2017-06-09 14:53] #1956 closed